[2016-12-09 14:36] ikappas opened #5 "Tag releases in Git"
@stayallive Hi Alex, nothing major here, just tag releases in Git repository v2.0+

[2017-04-08 00:33] TangRufus opened #9 "Why use theme version as `WP_SENTRY_VERSION`?"
Why use theme version as `WP_SENTRY_VERSION`?

source: https://github.com/stayallive/wp-sentry/blob/master/wp-sentry.php#L36

[2017-04-08 14:38] stayallive commented on #9
Because we needed a somewhat sane default and since, in my use case, every site I develop has it's own custom theme and the theme is indicating the version of the project the theme version seems like the best version to use.

Of course you are free to define `WP_SENTRY_VERSION` yourself to overwrite this value 👍

[2017-04-08 14:38] #9 closed

[2017-10-06 19:50] ikappas opened #15 "v2.0.18 is tagged incorrectly"
Hi @stayallive ,

The `v2.0.18` release is tagged incorrectly as `v.2.0.18`which is not a proper semver and as a result is not parsed by composer.

Can you please retag?

Thanks

[2017-10-06 22:35] stayallive commented on #15
Oops. Yep, fixed! Sorry.

[2017-10-06 22:35] #15 closed

[2017-10-12 19:43] senadir opened #16 "a way to track WP_Error problems"
I use wp_error in my code, is there anyway to detect it?

[2017-10-13 08:49] stayallive commented on #16
Could you give a more specific example? What er you doing with the WP_Error, do you want to log it to Sentry or what are you trying to achieve?

[2017-10-16 20:40] senadir commented on #16
I'm developing a plugin, when an error happens (e.g. invalid value passed to a function) I return a WP_Error, what's the best way to track it? I've switched to Excpetions now, can I still use it?

[2017-10-17 07:41] stayallive commented on #16
Hey @senadir with uncaught exceptions there is nothing you have to do to get them to show up in Sentry because Sentry will catch those for you.

If you are catching the exceptions you will have to submit them manually like this for example:

[code]

[2017-10-29 20:51] #16 closed

[2017-10-30 09:27] hjanuschka opened #18 "publish on packagist."
can you please publish the package on packagist.org?

[2017-10-30 09:47] #18 closed

[2017-10-30 09:50] hjanuschka commented on #18
strange, package was not found, when i tried a couple of minutes ago.

[2017-10-30 09:52] stayallive commented on #18
Well, I just added it because I forgot yesterday 😉  (thanks for the reminder)

[2017-11-07 15:30] lightstrike opened #19 "Duplicate error reporting"
Thank you for creating this plugin @stayallive, it's helped me already 😄

I am just doing PHP tracking right now, using the following settings:
[code]

One thing I'm noticing on my side is the duplicate reporting of errors in Sentry:

![screenshot 2017-11-07 at 10 25 14](https://user-images.githubusercontent.com/1368742/32501650-8d14a632-c3a6-11e7-8e9a-53770286ed8a.png)

Any ideas how I can elimin

[2017-11-07 16:24] stayallive commented on #19
Hey @lightstrike, happy to hear you like it 😃

This is actually an issue in the Sentry PHP SDK (getsentry/sentry-php#408) and we are in the process of finding a good reproducable case since this does not happen always, you might have given me one 😄

Just to confirm, you are running PHP 7.0+?

[2017-11-07 17:00] lightstrike commented on #19
Yes, I'm using trellis, [which installs PHP 7.1](https://github.com/roots/trellis/blob/master/roles/php/tasks/main.yml#L7).

[2017-11-08 10:57] stayallive commented on #19
Thanks @lightstrike, I'll let you know when it's fixed!

[2017-11-09 18:05] stayallive commented on #19
`v2.1.3` was just releaased to the WP plugin repository.

Let me know if the problem persists in that version.

[2017-11-09 18:05] #19 closed

[2017-11-09 22:14] lightstrike commented on #19
Excellent, thanks @stayallive! I'll check and let you know.

[2017-11-27 22:30] combs opened #20 "Pass regex to JS"
Hello! Thank you for making this plugin.

We are trying to pass `whitelistUrls` with a `wp_sentry_public_options` filter. The best way to use this option seems to be with regexes:
https://docs.sentry.io/clients/javascript/tips/

But `wp_localize_script` only supports passing bare strings to JS, so our regexes in php seem to make it through with double quotes around 'em in the sentry options object

[2017-12-21 15:25] stayallive commented on #20
Hey @combs, really sorry I not responded earlier. Totally snowed under and forgot about it 😟

You are correct that it's not possible to pass a regex which is a bit of a problem. We are currently passing the options using `wp_localize_script` which basicly `json_encodes` the array of options.

Not sure how to make this work with regexes or how to efficiently parse the options (and nested options) t

[2018-01-03 07:56] juslintek opened #21 "Can you add ability to turn on user feedback?"
Hi, can you add code snippet with switch to enable user feedback?

[2018-01-24 19:25] codewise-nicolas opened #22 "Problem when using on <php5.5"
Line 50 and Line 59 of wp-sentry.php generates an error on pre php 5.5 because on those PHP versions you cant empty(CONSTANT).

Not the perfect fix but this should do the trick

[code]

[2018-01-25 09:44] stayallive commented on #22
Hey @codewise-nicolas, while I don't think we should support PHP <=5.5 we say we do on the tin so I fixed the issue and released 2.2.0 with an actual minimum requirement of 5.4 :)

Thanks for reporting!

[2018-01-25 09:44] #22 closed

[2018-03-22 17:42] tekarex opened #23 "Not Catching PHP Errors or Exceptions"
Hi,

I've gone through all of the setup and can not get the plugin to capture a single PHP event. The plugin is installed and activated, and we added the following to wp-config.php:

`define( 'WP_SENTRY_DSN', "https://XXX:XXX@sentry.io/XXX");
define( 'WP_SENTRY_ERROR_TYPES', E_ALL & ~E_DEPRECATED & ~E_NOTICE & ~E_USER_DEPRECATED );
define( 'WP_SENTRY_PUBLIC_DSN', 'https://XXX@sentry.io/XXX' );
def

[2018-03-25 10:19] stayallive commented on #23
Hey @rickvschmidt sorry for the late response, this does seem strange.

However there is a possibilty that `wp-sentry-integration` is loaded after your plugins are initialized (since WordPress load them alphabetically) so if you throw those in your plugins they might be thrown before Sentry is loaded.

You might want to try this method: https://github.com/stayallive/wp-sentry#catching-plugin-error

[2018-07-03 04:22] Brayden967 commented on #21
This would be a great feature. There is a lot of documentation on Sentry for adding user feedback, I tried using the Browser JS SDK but it did not work, this will have to be done with some sort of PHP integration.

[2018-07-03 08:05] stayallive commented on #21
Something like this on your error page should work.

[code]

[2018-07-03 16:07] Brayden967 commented on #21
This is perfect, once a PHP error is thrown (not fatal), the pop-up box does appear. I tested putting this code in my themes header and footer and both work.

One suggestion would be too replace your user variables with this to allow more accurate reporting and follow-up.

`global $current_user;
$current_user = wp_get_current_user();
 user: {
                'name': '<?php echo $current_user->user

[2018-09-05 13:36] mikevanegmond opened #25 "public_dsn and _dsn"
What seems to be the difference, I have a hard time finding which is which in Sentry.io.
When I place the DSN as SENTRY_PUBLIC_DSN and set the the secret key in SENTRY_DSN (as part of the URL) I can see 'raven' in the source code on the homepage, but it also displays my admin username and admin email address. Is that supposed to work like that?

Any help would be greatly appreciated.

[2018-11-01 16:00] lkraav opened #26 "2.6.0: Sentry JS v4 crashes browsers in some cases"
See https://github.com/getsentry/sentry-javascript/issues/1707 for details.

Not sure if there's anything to be done here in this repo, but probably good to know regardless. If upstream fixes it, gotta push a release out here for sure.

[2018-11-02 16:05] stayallive commented on #26
Ah dang, that's a shame! As soon as there is an update for it I will update this package 👍 thanks for bringing it to my attention!

[2018-11-19 10:12] stayallive commented on #26
Yep https://github.com/stayallive/wp-sentry/releases/tag/v2.6.1.

Currently being deployed to the WP plugins repo.

I'll let you close this issue once you can confirm it fixes it 👍

[2018-12-14 10:05] sergiomensing opened #27 "Sentry isn't logging Exceptions"
Hi,

We're running a local Sentry and local Wordpress with Docker but Sentry isn't logging the Errors and Exceptions.

The plugin is successfully activated and we've double checked the DSN in `wp-config.php`.

We're throwing the exception inside `index.php` of the theme as follows:

[code]

Is there maybe something we're missing?

[2018-12-15 21:02] stayallive commented on #27
I just took a clean WP installation and added you code to the very top of the `index.php` of the twenty seventeen theme and got the event in Sentry... so there might be something missing or going wrong in transport to Sentry.

Considering you are running a local Sentry & WordPress from inside Docker. Did you confirm your WP container can reach your Sentry? It might be a networking issue.

Also if

[2018-12-19 12:30] sergiomensing commented on #27
Thank you for the help! It was the `https://` issue.

[2018-12-19 12:30] #27 closed

[2019-01-07 08:21] #20 closed

[2019-01-10 16:42] stayallive commented on #26
Did not hear back so going to assume this was fixed 👍

[2019-01-10 16:42] #26 closed

[2019-01-10 17:01] lkraav commented on #26
Yep, I've not seen any weirdness since you launched 2.6.1. Thanks!

[2019-02-06 10:55] lkraav opened #29 "Sentry PHP 2.0 upgrade"
Looks like a significant list of changes https://github.com/getsentry/sentry-php/blob/2.0.0-beta1/UPGRADE-2.0.md but nothing overwhelming on surface. Wdyt?

[2019-02-06 14:25] stayallive commented on #29
I'm going to wait until a stable is released 😄

There is still much discussion going on and some breaking changes coming in `beta2`.

But it's not too bad since we don't have an extreme integration, but does require some thought and a new major version since this is a pretty big change for people using the Sentry client provided by the plugin in their own code.

[2019-02-06 14:30] stayallive commented on #23
Hey @tekarex I am going to close this since a long time without a response, so I'm going to assume it's resolved. If not please open a new issue with some up-to-date information so I can take another look.

[2019-02-06 14:30] #23 closed

[2019-02-06 14:35] stayallive commented on #25
Closing this since I think it's been explained 😄

If not feel free to re-open.

In v3.0 of the plugin these 2 values will be combined since the (private) DSN is deprecated.

[2019-02-06 14:35] #25 closed

[2019-02-25 09:43] lkraav commented on #29
Badabum https://github.com/getsentry/sentry-php/blob/2.0.0/UPGRADE-2.0.md looks official now :fireworks:

[2019-02-25 10:24] stayallive commented on #29
Jep we just tagged `2.x`.

Will start work on bringing this to `2.x` soon 👍

[2019-04-11 17:53] lkraav commented on #29
Hi again. How's this going thus far?

[2019-04-11 17:54] lkraav opened #30 "WP 5.2 WSOD protection will cause PHP Notices"
Details https://core.trac.wordpress.org/ticket/46882#comment:7

[2019-04-23 11:49] stayallive commented on #30
I am not sure what you would want me to change in this plugin to account for that.

If the core produces a notice we will capture it, not matter the context.

Did you had something specific in mind?

[2019-04-23 11:51] stayallive commented on #29
@lkraav as you probably noticed it is not going at all so far (because of lack of time) 👎

I am going to make some progress on it this week and probably have a PR open soon so you can test with it.

[2019-04-23 16:21] lkraav commented on #30
I think core decided already it's more their problem.

[2019-04-23 18:26] stayallive commented on #30
Yes, it is. We're not here to cover up notices generated by anything 🙈

There are hooks to do it yourself ofcourse if you wanted to.

[2019-04-23 18:26] #30 closed

[2019-07-10 08:47] daru79 opened #34 "Limiting the registration of file errors"
Hey,

is there a way to report errors caused by files located in the theme template only?

Best regards,
Daru

[2019-07-15 14:22] stayallive commented on #34
Not out of the box no. You could use the `customize_sentry_options` filter to add a `send_callback` closure and filter out errors based on where they occurred. However you would need to check the complete stack trace to see if any part occurred or flowed through your template file to not miss side effect.

I do not have an example lying around for you. Unfortunately the documentation for the 1.x v

[2019-07-17 09:02] daru79 commented on #34
Thank You very much for Your answer ;) Have a good day ;)

[2019-07-17 09:20] #34 closed

[2019-08-14 15:16] bennettscience opened #35 "SDK install required?"
Thanks for providing the plugin. Does this require the PHP and/or JS SDK to be installed to function? Or are the libraries included in the plugin?

[2019-08-15 18:16] stayallive commented on #35
They are included. Fully self contained.

Please do note that currently we are running on the 1.x version of the PHP SDK and I am lagging a bit behind on the JS version, but that will resolve itself eventually.

[2019-08-15 18:16] #35 closed

[2019-08-16 08:37] limestreet opened #36 "Update sentry browser to 5.x.x version"
Hi,
are there any plans to update sentry browser to the latest version?
The current one is 5.6.1 - https://github.com/getsentry/sentry-javascript/releases

Thanks for any info

[2019-08-18 14:15] stayallive commented on #36
Yeah, this will be in the newer 3.x version of the plugin. Since 5.x introduces a whole host of breaking changes I have decided to do this together with the massive breaking changes of the 2.x PHP SDK in a 3.x release of this plugin.

The 5.x browser SDK is already in the master branch: 76e1f0117f0f3e760af830a427fe57ba8fac6823

[2019-08-18 15:30] stayallive commented on #29
And now the new version is available in `master`. Will be released somewhere in the coming days as 3.0 (which contains the 2.x PHP SDK and the 5.x Browser SDK).

[2019-08-18 15:30] #29 closed

[2019-08-18 15:30] #36 closed

[2019-08-27 09:31] whysthatso opened #37 "Understanding what gets reported"
I'm trying to understand what gets reported from my errors. i'm running the plugin on a diverse set of wordpress sites, and whatever gets reported feels a bit random to me

for the setup
i would like to get everything, so i set
[code]
furthermore i run two sites per DSN, a production site and a stage site, which i differentiate like so
on production
[code]
on stage
[code]

these are some messages

[2019-08-27 11:28] stayallive commented on #37
Assuming you have it enabled as a must-use plugin and those errors all occur after that must-use plugin was loaded (WordPress does some work before loading plugins) they should all have been reported on. There are a few things that come to mind.

But first I want to rule something out, are you using sentry.io or an on-premise install?

[2019-08-27 15:14] whysthatso commented on #37
this is a self-hosted setup.

[2019-08-27 15:50] stayallive commented on #37
Which Sentry version are you running?

[2019-08-27 15:52] whysthatso commented on #37
Sentry 9.1.1

[2019-09-25 09:06] lkraav commented on #29
Curious, did that 3.0 idea manage to move towards materialization?

[2019-09-25 09:20] stayallive commented on #29
No 😞

I have not had the time to properly test my release, so it's coming but unfortunately I thought I had more time to really test it.

It is all in master in case you feel adventurous 😉

[2019-09-26 12:18] Kilbourne commented on #36
Hi,
Any release date for new version? the biggest problem with v4 is the bundle size https://github.com/getsentry/sentry-javascript/issues/1552

[2019-10-08 16:33] jordantrizz opened #38 "Conflict with other plugins using composer vendor folders (ex. Woo MailerLite)"
After upgrading from v2.8.0 to v3.0.0 the following error is presented. It looks like a namespace conflict due to both plugins using the same library.

[STDERR] PHP Fatal error:  Cannot redeclare Clue\StreamFilter\register() (previously declared in wp-content/plugins/wp-sentry-integration/vendor/clue/stream-filter/src/functions.php:140) in wp-content/plugins/woo-mailerlite/vendor/clue/stream-filte

[2019-10-09 06:49] stayallive commented on #38
I think this is indeed because of a conflict between similar dependencies... I'll have to see how we can resolve this, this is the pain of using composer with WordPress. You might want to stick with 2.8 for now 😄

[2019-10-15 21:32] jordantrizz commented on #38
Yea, its starting to become more common, are you able to simply rename the namespace?

[2019-10-15 21:38] stayallive commented on #38
Well. The “issue” is both plugins depend on the cue package (directly or indirectly) and they both try to load the class which causes conflicts.

Since all this happens inside the vendor folder this is handled by composer and there is no easy way to prefix namespaces or make them work nicely together.

I have found a script that autoprefixes a full vendor folder but I’m still seeing if I can bent

[2019-10-28 10:56] hossein opened #40 "Uncaught Symfony\Component\OptionsResolver\Exception\InvalidOptionsException"
Hi. I'm following the Read Me instructions to configure a must-use plugin that references the main plugin. However it seems in this case WP_SENTRY_VERSION is not calculated correctly which results in the the mentioned Sentry error frequently ([JSON dump](https://github.com/stayallive/wp-sentry/files/3778330/event.zip)).

The workaround is to hardcode a value [for the release field here](https://gi

[2019-10-28 11:35] stayallive commented on #40
Add a `define('WP_SENTRY_VERSION', 'someversion')` to your `wp-config.php` for now to fix this without needing to change the plugin code.

I think this is going wrong:

[code]

Your theme might not have a proper version setup which causes `false` to be defined.

This will be fixed to default to something in the next version.

Thanks for letting me know! Will keep this open until the release is out

[2019-10-28 11:43] stayallive commented on #40
Version `v3.0.4` was just released to fix this!

[2019-10-28 11:43] #40 closed

[2019-10-28 12:16] hossein commented on #40
Thanks for the fast update, and of course your plugin :+1:

[2019-11-06 13:02] sigismund opened #41 "Option to add callback function to JS options."
Currently JS options can be edited using `wp_sentry_public_options` filter. Which works great for most of the options, but It would be even better if there was an option to add function like [beforeSend](https://docs.sentry.io/error-reporting/configuration/filtering/?platform=javascript).
This probably won't be achievable using current implementation, which uses ˙wp_localize_script`.

[2019-11-07 14:21] stayallive commented on #41
This request was discussed in #42.

[2019-11-07 14:21] #41 closed

[2019-11-11 20:38] federicobond opened #43 "Add button to send test event"
This would help make sure that the integration is working as intended. I can submit a pull request if you are interested.

[2019-11-12 12:01] stayallive commented on #43
That is most definitely not a terrible idea!

WP UI is always a bit messy though 😉

If a UI was to be added I would like it to live under "Tools" as "WP Sentry Test". It would be neat if it could indicate the following:

- If the PHP and/or JS tracker is active (basically if `WP_SENTRY_DSN` and/or `WP_SENTRY_PUBLIC_DSN` is not empty)
- The version that is transmitted to Sentry (`WP_SENTRY_VERSION`

[2019-11-14 04:33] federicobond commented on #43
I just sent a pull request that addresses most of the stuff you mentioned. Let me know what you think!

[2019-11-25 22:48] reggieofarrell opened #46 "Warning: Unsupported declare 'strict_types'"
I'm getting 2 errors since the recent update...

```Warning: Unsupported declare 'strict_types' in /wp-content/plugins/wp-sentry-integration/vendor/zendframework/zend-diactoros/src/functions/create_uploaded_file.php on line 8```

...and...

```Parse error: syntax error, unexpected ':', expecting '{' in /wp-content/plugins/wp-sentry-integration/vendor/zendframework/zend-diactoros/src/functions/crea

[2019-11-26 14:31] stayallive commented on #46
Hey @reggieofarrell thanks for providing this info, I don't think your site and/or WP CLI is running PHP 7.3... although if you are not a notice should be shown in the WP admin telling you the PHP version is too low for Sentry (7.1 is required).

So really interested in finding out what's what, keep me up-to-date with your findings!

[2019-12-05 02:15] reggieofarrell commented on #46
There was some weirdness going on with the PHP CLI version.  It was showing me 7.3, but somehow it was still actually executing in 5.6.  DreamHost got it sorted out.

[2019-12-05 02:15] #46 closed

[2019-12-05 08:30] stayallive commented on #46
Hey @reggieofarrell glad you got is resolved, thanks for the update 😄

[2019-12-23 15:43] stayallive commented on #43
Just released `v3.2.0` which includes this. Thanks again for the PR!

[2019-12-23 15:43] #43 closed

[2020-02-05 04:26] tylertadej commented on #25
I'm having an issue related to this question and have posted a support question here: https://wordpress.org/support/topic/dsn-and-public_dsn-the-same/

After looking at the source code here I'm not sure why my setup isn't working. I did notice that the PHP DSN and JS DSN are loaded a bit differently, but it doesn't look like a problem.

[2020-02-14 21:21] chrillep commented on #25
Shouldnt the readme reflect that private and public DSN is no more?

[2020-02-15 09:15] stayallive commented on #25
From the docs:

[code]

The naming could do better but it can still be 2 DSN's, the PHP one just doesn't have to include the secret key anymore (as it's deprecated indicated in the Sentry interface), and for the JS the warning "never use your private DSN" still rings true, it's deprecated but the private key in the DSN string still holds value and should never be used in the public one and it stil

[2020-03-23 16:51] lubo-makky opened #48 "`trigger_error()` errors not being logged to Sentry when also running the Query Monitor plugin"
I have setup the plugin as adviced including _must-use-proxy_ in `wp-content/mu-plugins` dir.

Works well for general errors and unhandled exceptions, however if I use `throw_error()` nothing is being logged in Sentry, only in server log.

In my wp-config.php:

[code]
Exception gets logged:
[code]
However trigger_error doesn't:
[code]
Thank you in advance for any help.

[2020-03-23 17:27] lkraav commented on #48
I'm also noticing some things never getting logged even with with mu-plugin. Haven't been able to identify what the pattern is, yet.

[2020-03-23 19:53] hikingsk-lubo commented on #48
I have figured out what was wrong. I use _Query Monitor_ plugin for debugging purposes. This plugin was causing the trouble. After deactivation errors from `trigger_error()` are getting through to Sentry.

Maybe a line in `readme` could help.

[2020-03-24 21:51] stayallive commented on #48
Happy to accept a PR to add that to the README.

Although of you have query monitor running (a debug tool) it might be expected error reporting is a bit wonky at best.

Unfortunately there are also still a lot of plugins who think it’s their job to mess with the error reporting to hide their crappy programming 🙈 (not talking about query monitor and the like since those have a good reason to mess w

[2020-03-26 16:05] domihagen commented on #38
Have the problem with an other dependency.

[2020-04-01 16:01] stayallive commented on #38
Hey all, thanks everyone for your patience on this issue. Using composer with WordPress is a hot mess :D

I believe to have solved the issues by scoping all the dependencies to a custom namespace which should prevent any and all conflicts caused by or caused with this plugin.

Please update to 3.4.1 and let me know if that works for all of you!

[2020-04-01 16:01] #38 closed

[2020-04-01 16:03] stayallive commented on #48
To prevent leaving this open I'll close it, if you want to add something to the readme still I'm happy to accept a PR for that but I still believe it is expected that debug tools might interfere with Sentry's ability to track issues accurately.

[2020-04-01 16:25] hikingsk-lubo commented on #48
Will make a PR shortly, sorry for leaving this issue open. Thanx for your your replies.

[2020-04-02 08:44] robgeorgeuk opened #49 "PHP Fatal error v3.4.2"
This error occurred when plugin updated to 3.4.2.

[code]

[2020-04-02 09:25] koentjuh1 commented on #49
Same here.

[2020-04-02 09:57] robgeorgeuk commented on #49
Also the plugin seems to have updated itself as the update wasn't manually triggered nor updated by wpcli.
Does the plugin update itself?

[2020-04-02 12:44] Jonakemon commented on #49
I get the same error, which is most likely caused by a Composer related issue with other WP plugins that also use Composer and the Guzzle library. I.e. I've been getting it with the mollie WooCommerce plugin that uses Composer as well.

For those working on this repository, maybe this can help you: https://github.com/mollie/WooCommerce/wiki/Composer-Guzzle-conflicts

[2020-04-02 12:54] stayallive commented on #49
This plugin most certainly does not update itself, there is no mechanism to do this AFAIK and I have not built it either so I'm not sure what's going on there.

I did not find this perticulair error... I'm wondering what is happening...

I did change something recently to fix these type of conflicts but it looks like I might have created another issue: stayallive/wp-sentry#38.

Let me see if I can

[2020-04-02 12:55] Jonakemon commented on #49
Would it help if I give you access to my Sentry logs / PHP logs?

[2020-04-02 13:12] stayallive commented on #49
Hi @Jonakemon not really :) I think I'm seeing the issue but I'm not sure what's causing it. Are you able to share a list of plugins (and their versions) so I can try to reproduce your installation to see if I can get the error locally and try to resolve it.

[2020-04-02 13:15] Jonakemon commented on #49
Sure thing; I'll send you an email with the details.

[2020-04-02 13:16] stayallive commented on #49
Much appreciated, thanks!

[2020-04-02 13:24] indreek commented on #49
Here is my list

[code]

[2020-04-02 13:25] lkraav commented on #49
On my system, I see

[code]

But deactivating this plugin doesn't help.

[2020-04-02 14:03] stayallive commented on #49
I think I've found the issue (with the excellent help of humbug/php-scoper#298 and your information).

I've reproduced the error and after the fixes I can't reproduce it anymore so I hope this will also fix the problems for all of you!

3.4.3 was just released with those changes, please do let me know if that helps!

[2020-04-02 14:12] Jonakemon commented on #49
Error does not occur for me anymore! Thanks @stayallive! :)

[2020-04-02 16:54] robgeorgeuk commented on #49
Thanks for the quick work @stayallive, this issue looks fixed for me too.

[2020-04-02 16:54] #49 closed

[2020-04-02 17:07] stayallive commented on #49
Awesome!

Thank you all fot your patience and information 💪 and sorry for any problems caused.

[2020-04-09 13:18] selul opened #50 "Fatal error when used with Monolog"
Hi,

I have a custom logger based on Monolog which uses the wp-sentry client as one of the error handlers.

This is the Logger bootstrap code:
[code]
Using the latest update, I'm getting a fatal error that seems to be related to a missing class inside the sentry build folder.
The error can be found here -> https://sentry.io/share/issue/c89fad68bd5347f18c7f78daccaa2889/

I have used the 3.3.0 versi

[2020-04-10 08:27] stayallive commented on #50
Jep this makes sense :)

It has nothing to do with a missing class though since the Sentry plugin does not ship with Monolog, so Monolog is coming from your dependencies but because of our scopeing the Monolog classes are namespaced although they shouldn't be.

Just released `v3.4.6`, let me know if the solved the issues for you!

[2020-04-15 13:14] lkraav opened #51 "3.4.6: PHP Deprecated (Suppressed) The option "project_root" is deprecated. Please use the "in_app_include" option instead."
Can we get rid of `project_root`?

Traceback:

[code]

[2020-04-15 13:19] lkraav opened #52 "3.4.x: Deprecation messages from plugin"
These deprecation messages are coming from the plugin itself:

[code]

[code]

[2020-04-15 15:44] stayallive commented on #51
Merged this with #52.

[2020-04-15 15:44] #51 closed

[2020-04-15 16:10] stayallive commented on #52
Should be fixed in `v3.5.0` which was just released.

Thanks for reporting 👍

[2020-04-15 16:10] #52 closed

[2020-04-21 19:57] lkraav opened #53 "3.5.0: WP_SENTRY_SEND_DEFAULT_PII true, but Sentry still shows only "user: ip:" field"
Since integration v3, I think I've lost the ability to display logged in user names in Sentry user context.

wp-config.php has `WP_SENTRY_SEND_DEFAULT_PII` true, but I still get only IP.

What am I missing?

https://github.com/stayallive/wp-sentry/search?q=get_current_user_info looks like it does the right thing, but... :man_shrugging:

[2020-04-21 21:45] stayallive commented on #53
🤦 found the issue and fixed in `v3.5.1` which I just pushed out.

Thanks for reporting!

[2020-04-21 21:45] #53 closed

[2020-04-21 21:47] stayallive commented on #50
Have not heard from you for a bit so I'm going to assume my fix worked.

Please re-open if needed 👍

[2020-04-21 21:47] #50 closed

[2020-04-22 07:31] selul commented on #50
Hi @stayallive,

Sorry, I forgot to confirm. Indeed, things are working fine now.

Thank you for your help!

[2020-04-22 13:14] diego-betto opened #54 "How can I add `extra` data to `captureMessage`?"
Hi,

can you give me an example for adding `extra` data to `caputureMessage` in this situation?

[code]

Thank you, regards

[2020-04-22 13:26] diego-betto commented on #54
sorry solved,

[code]

[2020-04-22 13:26] #54 closed

[2020-05-02 13:07] pinkasey opened #55 "for Browser JavaScript - the ability to turn off for old browser"
I get a lot of errors from old browsers that, for instance, don't support `let`.
I would like to ignore these errors. I've decided not to waste time on them - I don't want them to even reach Sentry.io.

If i'd had installed Sentry without this plugin, I would've done something like this:
[code]

But since I have installed it using this plugin, I can't do that.
Is there a way to do it?
Or something

[2020-05-02 14:26] stayallive commented on #55
This is not something I'm willing to implement in the plugin itself, I consider that out of scope and there is not really a good way to implement that piece of code and still use the plugin.

I see a few things you can do.

1. You can use server side user-agent parsing to not set `WP_SENTRY_PUBLIC_DSN` when the browser you wish to exclude is detected.

2. Disable the JS part of this plugin and imp

[2020-05-02 14:26] #55 closed

[2020-05-13 03:23] pinkasey commented on #55
@stayallive
Thanks for the detailed reply, sorry for taking the time to respond.

I see your point, I understand why this might seem unfeasible or low ROI.
I'll take suggestion 2 to overcome this.
I'll also write to Sentry as you suggested.

I'll share my thought anyway:
One way I thought of implementing such feature is by allowing some kind of hook to be called before sentry is included client-si

[2020-05-13 07:18] stayallive commented on #55
Still not a 100% convinced, but noticed WordPress has a nice feature to prepend some inline JavaScript to a queued script, so cooked up this: stayallive/wp-sentry#56. Please let me know that was what you we're thinking.

[2020-05-13 07:31] pinkasey commented on #55
Looks like exactly what I was hoping for!
Thanks!

(Of course if you're not convinced that's a good feature, don't merge it. In that case I'll add js-sentry without the plugin)

[2020-05-13 08:08] stayallive commented on #55
Nah, it's all fine, looks like it was simpeler then I thought it to be.

Just release v3.6.0 with this change included. Let me know if you successfully been able to use it :)

[2020-05-13 08:19] pinkasey commented on #55
oh wow that's fast

It will take me awhile to get to it, but I'll let you know
(probably by the end of the month)

[2020-05-27 11:32] lkraav opened #57 "3.6.0: documentation for manual PHP event capturing"
I'm staring at https://docs.sentry.io/error-reporting/capturing/?platform=php#capturing-events and as-is, it's surprisingly vague text:

Digging further, and started thinking maybe we should add some documentation in README.md on this.

For example, I'd like to `add_action update_option_rewrite_rules` to trigger a Sentry event, so I'd know as soon as someone is `_doing_it_wrong()`.

[2020-05-27 11:56] lkraav commented on #57
I think this might boil down to simply using `trigger_error()` manually, and `_doing_it_wrong()` directly where appropriate.

[2020-05-27 16:19] midwestE opened #58 "Wouldn't report with "new" DSN"
Just setup the module and using the test page, sent a series of test exceptions.  They submit successfully, however are not visible on the sentry dashboard.  They are even given an event ID.

In looking up the DSN again to make sure it was correct, I found that there is a now a "Deprecated DSN" listed in the Client Keys section.  I changed the key to the Deprecated DSN and it is now reporting corr

[2020-05-29 13:53] stayallive commented on #58
Can you share a bit more about your setup, which version of the plugin are you using? It should work with the new DSN just fine.

Are you also on sentry.io or do you have an onpremise setup?

[2020-05-29 13:57] stayallive commented on #57
I think you can look in this direction: https://github.com/stayallive/wp-sentry#capturing-handled-exceptions.

Except you might not have an exception so you want to capture a message: https://docs.sentry.io/error-reporting/capturing/?platform=php#capturing-messages

Trigger error would also work and that should also be captured, happy to take a look at your solution, it might be nice to add some m

[2020-05-29 15:22] lkraav commented on #57
Exceptions: require extra try/catch ceremony dance

Messages: no backtrace, I think?

`trigger_error()`-based approach seems like the optimal thing, at the moment.

[2020-05-30 15:39] stayallive commented on #57
Jep I think `trigger_error` is the best and easiest.

Feel free to open up a PR if you feel this could be described better in the docs.

[2020-05-30 15:39] #57 closed

[2020-05-30 15:41] stayallive commented on #37
Hi @whysthatso, I am sorry I never responded to this issue and we did not investigate further, since 2019 we have released a massive amount of updates and hopefully any error you did had was fixed by one of those.

If this issue still persists feel free to re-open/open up a new issue so I can take a closer look again.

[2020-05-30 15:41] #37 closed

[2020-05-30 15:59] whysthatso commented on #37
no worries. thanks for all your work :)

[2020-05-30 16:43] midwestE commented on #58
Using Version 3.6.0 and I'm using sentry.io.  When I first signed up for the account at sentry.io, it asked that I send an exception to "verify" the account, so I used the sentry test page to send it.  The strange thing is that it is getting an ID back on the submission but it just won't show on the sentry interface and wouldn't "verify".  Once I changed to the deprecated key it worked.

[2020-06-01 11:50] stayallive commented on #58
Hmm, interesting, I just created a fresh project on sentry.io and defined the DSN (in the new format) like this:

[code]

It took a few seconds after sending the test event but it definitely showed up.

Is it possible you might have pasted the wrong DNS (not copying it completely or adding a space or something)?

[2020-06-01 11:56] midwestE commented on #58
Anything is possible!  One additional note, I had defined all constants in the read me in the wp-config.  We can choose this issue and if i can reproduce it, I'll reply here again.  Thanks for looking into it!

[2020-06-01 12:21] stayallive commented on #58
I don't think if you only changed the DSN and it started working that the other defines had any effect on it. Hope you can try it again it see if it does work now with the short DSN, otherwise we will have to dig deeper.

[2020-06-06 10:00] lkraav commented on #48
I can confirm, disabling Query Monitor increases the amount of things Sentry is able to catch. For example, in my case, admin-ajax requests. Can we reopen this?

@johnbillion could you offer insight here :pray: ? Are we somehow crashing error handlers into each other, or?

Most certainly we'd ideally like to keep both plugins running at all times.

[2020-06-06 10:36] johnbillion commented on #48
_Breaths in..._

Aaaaaaarrrrrrrggggghhhhhhhhhhh.

The error handling in QM is quite ugly because it has to battle with every version of PHP back to 5.2, while simultaneously ensuring that various flavours of fatal errors, throwables, and exceptions do not get hidden, working around the WSOD protection in WordPress core, ensuring that the default error handler (eg. the error logger in PHP) still wo

[2020-06-06 10:49] stayallive commented on #48
@johnbillion I'm a bit fuzzy on the subject matter (because it's a mess) but yes [`set_error_handler`](https://github.com/getsentry/sentry-php/blob/c4359c244b903212d8e2e23755c1087c5f362ff2/src/ErrorHandler.php#L180) is used in Sentry, however, using multiple error handlers in PHP is a hot mess.

From the `set_error_handler` docs:

So the returning `false` only applies to the PHP internal handler (

[2020-06-06 10:51] stayallive commented on #58
Oops, and I forgot to close the issue, of course feel free to re-open if you still have problems!

[2020-06-06 10:51] #58 closed

[2020-06-06 11:06] johnbillion commented on #48
QM does this for its exception handler, but not for its error handler. That could well be the problem. I will have to take a look back through QM's history of changes to this handling in case there's an explicit reason it does not do this.

[2020-06-06 11:21] stayallive commented on #48
Ah. That might be the “problem” indeed. If that would indeed be the root cause there is nothing we can do except for re-registering after QM does which is a possibility, but it would be nicer if QM keeps the chain going, unless they have a good reason not to.

[2020-06-08 10:50] lkraav commented on #48
Until we figure something out here, I think `define QM_DISABLE_ERROR_HANDLER true` can work to retain majority of QM on-the-fly performance measurement functionality.

[2020-06-11 06:49] kkmuffme opened #59 "Github release != WP release"
Is there a reason the github release has a completely different structure from the WP release on https://wordpress.org/plugins/wp-sentry-integration/ ?

Would probably be better if both are identical to avoid confusion by users who are not 100% familiar, as the github shows up first in google results when searching for wp sentry (even before the WP page)

[2020-06-11 07:37] stayallive commented on #59
@kkmuffme I don't understand what you mean with a completely different structure?

Are you downloading the .zip directly from GitHub? This is a .zip of the sources and is indeed not the same as the version uploaded to the WordPress plugin repository because this plugin can also be installed through composer I cannot keep those in sync (+ a lot of generated code would than need to live inside the g

[2020-06-12 13:02] kkmuffme commented on #59
Could you perhaps include the WordPress zip in the release? (I mean the same zip we get when downloading from the WordPress repo)
So the relase will be 3 zips (the 2 you ahve now + the zip that is also available when going via the WP plugin directory)

[2020-06-12 13:05] stayallive commented on #59
Well It might be possible, however I do not know exactly how WordPress packages up their zip files, so I'm not sure if it would help.

As mentioned the current zips (actually zip and tarball) are automatically generated and cannot be turned off.

What is you use case exactly, are you installing plugins manually by uploading them or even extracting them manually instead of using the plugins interfa

[2020-06-12 15:55] kkmuffme commented on #59
Managing an intranet WP that does not have internet access, so I need to grab the things manually.
Since github allows me to "watch for releases" for repos, I just watch the plugin repos we use and download it from there automatically.
In most cases the WP & github zip are (almost) identical, your plugin is the first case I encountered where it's completely different :-)

[2020-06-12 17:39] stayallive commented on #59
Interesting, let me think about this for a bit, I think there are ways to do this but I want to try and keep "build" files (all the dependencies managed by composer and other generated sources) out of the source code, so I have to think a bit on how to attach a plugin zip to the releases tab without me doing it manually (because I guarantee I'll forget every release).

Will let you know if I get t

[2020-06-12 18:47] stayallive commented on #59
Let me know how this looks (and works):

[2020-06-13 07:11] kkmuffme commented on #59
Perfect thank you! :-)

[2020-06-13 07:11] #59 closed

[2020-06-14 14:30] kkmuffme opened #60 "Don't rename sentry .js on every version"
With every new version of sentry .js you also rename the sentry-browser min.js file.

When using a build pipeline that includes the sentry-browser min.js in a combined minified file one always also has to update the minification process with the new file name
Since you put custom, non-minified code in the .min.js anyway you don't really need it for versioning either.
And I assume everybody who use

[2020-06-15 07:27] stayallive commented on #60
I appreciate the concern (and have done something similar in the past) but I don't want people depending on something in this plugin except for the public API. I am not doing it on purpose it just grew this way but I also can't be afraid to move some files around if I would want that :)

If you want to add the Sentry JS SDK to your build pipeline (in which I hope you do put it as the very first sc

[2020-06-15 07:27] #60 closed

[2020-06-15 10:02] rtpHarry commented on #25
FYI this wording did catch me out as a new user.

[2020-06-15 10:15] rtpHarry opened #62 "no valid js dsn error"
I've set this up:

![image](https://user-images.githubusercontent.com/1038062/84645642-c8128200-aef8-11ea-8974-3cdadafa6a0d.png)

With the same dsn for both `WP_SENTRY_DSN` and `WP_SENTRY_PUBLIC_DSN` but it's only recognising it for the PHP version.

I have the `WP_SENTRY_ENV` set up after and its recognising that line.

Here is the snippet:

[code]

(Deleted a few characters from each as it's not

[2020-06-15 10:22] rtpHarry commented on #62
I'm looking through the code and it's strange, I don't see it trying to load it from the `define` for the JS tracker?

PHP tracker explicitly checks for the defined var: https://github.com/stayallive/wp-sentry/blob/8141ad1a04fc0c052478acff1f95983680fb622d/src/class-wp-sentry-php-tracker.php#L96

But the JS class just checks the filter: https://github.com/stayallive/wp-sentry/blob/70930927eb1ad19a1

[2020-06-15 10:26] rtpHarry commented on #62
OK I found that it is registered:

https://github.com/stayallive/wp-sentry/blob/70930927eb1ad19a1aa753482a7c3123442e6f97/wp-sentry.php#L85

I'm assuming then that the issue is that just putting this in my child theme functions.php is not enough.

[2020-06-15 10:28] rtpHarry commented on #62
And there it is... :)

For anyone else that gets caught out like this in the future:

You have to put it in wp-config.php not your functions.php

[2020-06-15 10:28] #62 closed

[2020-06-15 10:46] stayallive commented on #62
To be fair this is mentioned in the readme: https://github.com/stayallive/wp-sentry#configuration and in the installation instruction on WordPress plugins: https://wordpress.org/plugins/wp-sentry-integration/#installation 😉

[2020-06-15 16:27] rtpHarry commented on #62
To be fair, that is a fair comment. :P

I don't know why I had it in my head it was functions.php, but at least there is a trail now for the next person that comes along.

[2020-06-15 18:12] stayallive commented on #62
Haha no problem 😉 thanks for getting this in Google just in case 😄

[2020-06-27 15:17] pinkasey commented on #55
Thank you for this feature, @stayallive !
Works like a charm

[2020-06-28 11:34] stayallive commented on #60
I wanted to update you on the situation, I've decided to change the filename one last time.

It will now become `wp-sentry-browser.min.js` and will be versioned only by the version parameter which will be synced by the plugin version instead of the Sentry Browser version.

This should solve your problem and possibly others in the future.

[2020-06-28 11:36] stayallive commented on #25
I have changed the wording in the hopes of making this more clear for new users in the future.

The DSN constants are now named: `WP_SENTRY_PHP_DSN` and `WP_SENTRY_BROWSER_DSN` (the old names are still supported but the new names will be preferred in the docs).

Hope that helps clear up possible confusion around having 2 DSN's with less descriptive names.

[2020-06-28 18:51] kkmuffme commented on #60
Ok, I had already changed all my scripts, but will change it again so it matches your changes.
Thanks for the heads up

[2020-07-16 19:05] stayallive opened #64 "Add UI to use options for storing the SDK's"
Because on WordPress.com you cannot edit the `wp-config.php` we should make it possible to have the DSN loaded from the WordPress options API using an admin settings UI.

However, this options API loading should be disabled (and not registered to prevent extra database load) when the `wp-config.php` key has a DSN set and should either hide or disable the admin settings UI too.

Support question sp

[2020-07-21 13:55] jonatcorus opened #65 "Allow adding tags in wp-config"
It would be useful to be able to add tags in the wp-config. This could be used by automated deploy systems for adding metadata to a specific deployment. I'm not sure of the best way this would be done. It could be through a define such as `define('WP_SENTRY_TAGS', '{"tag1": "val1", "tag2": "val2"}');` or a define with a PHP array  `define('WP_SENTRY_TAGS', ["tag1" => "val1", "tag2" => "val2"]);` I

[2020-07-21 19:59] stayallive commented on #65
I think this would be a nice addition, I'm thinking that maybe there is more I want to expose through a `define` since on PHP 7 we can now `define` arrays and some default tags would be a nice addition.

Thanks for requesting this!

[2020-07-24 08:08] vermadarsh opened #66 "e.dn is not a function"
Hi,

I've been using the [plugin](https://wordpress.org/plugins/wp-sentry-integration/) and recently we recorded a strange error oh which the screenshot is attached.

![sentry-error](https://user-images.githubusercontent.com/32696640/88371987-ba330500-cdb2-11ea-9235-f212c6494b65.png)

Please update if this can be fixed.

[2020-07-24 13:25] stayallive commented on #66
Hi @vermadarsh this looks like either a bug in your code or possibly in the Sentry Browser integration, the error message is not telling my anything and without a stacktrace I cannot even begin to find out where it's coming from.

I did just release 3.10.0 which updates the browser integration, please check if it solves the issue.

If it does not fixes it please share more information about the er

[2020-07-24 13:25] #66 closed

[2020-07-25 22:06] antonioreyna commented on #58
i have the same issue it does not report and if i open the tester it says there is a problem

[2020-07-25 22:14] antonioreyna commented on #58
nvm it was the curl library missing

[2020-07-29 21:14] joejordanbrown opened #67 "Browser Performance Monitoring / Tracing support"
It would be nice to be able to use this plugin with the [Sentry Performance](https://docs.sentry.io/performance-monitoring/performance/) feature.

I'm happy to create a pull request with this feature but would like to discuss first.

---------

Currently, we have to remove `wp-sentry-browser.min.js` which isn't straight forward because we want to keep the plugins `var wp_sentry = {...};`.

We then

[2020-08-03 07:26] stayallive commented on #67
Hi @joejordanbrown, I'm a bit partial to this but I think we have to take another route for this.

I would maybe go for adding another constant you can set in the `wp-config.php` named something like `SENTRY_BROWSER_APM_SAMPLE_RATE` which if higher than `0` will _switch_ to the bundle file with APM included.

Does that sound good like a good solution? I don't want to force APM stuff onto anyone so

[2020-08-07 10:45] stayallive opened #68 "PHP Performance Monitoring / Tracing support"
As originally request by @archon810 on getsentry/sentry-php#1062.

---

Hi,

This is a follow-up to https://github.com/getsentry/sentry-laravel/pull/358#issuecomment-669804042, with the goal of adding the new PHP Tracing/Performance support specifically for WordPress.

Thanks.

[2020-08-08 04:50] archon810 commented on #68
Thanks, didn't even realize this project existed. Looks unofficial but semi-official, considering your affiliation with Sentry.

I hope Perf can become part of this project when it's ready.

[2020-08-08 07:58] stayallive commented on #68
This is the best place for it since the official PHP SDK will never support WordPress since it's just for the PHP integration and I'm not sure there is interest in officially supporting WordPress like Laravel or Symfony. The issue in the PHP SDK would therefore not do much good 👍

Assuming you are already using Sentry in some capacity in WordPress using this plugin or not. Once the tracing code be

[2020-08-08 15:48] archon810 commented on #68
We're just using the PHP SDK and I wasn't aware of this project until you moved this issue into it.

Looking at the benefits vs running our own code, we may end up switching, especially if Performance is added in.

[2020-08-08 16:21] stayallive commented on #68
Yeah sorry about that, I though somehow you were using this plugin, my bad for assuming!

The performance code will be added to the PHP SDK in the future so you could implement it yourself just like you currently implemented the PHP SDK in your application

However there will be no framework/WordPress specific code in the PHP SDK itself for performance monitoring so that has to be added by the dev

[2020-08-15 20:20] joejordanbrown commented on #67
Hello @stayallive, Thanks for the great plugin.

My example was only how we are currently working around injecting the code dynamically on page load. It wasn't how I would expect it to be in this plugin. I don't expect anyone to be forced to use APM script, also this plugin needs to stay backwards compatible so I don't expect the default functionality to change when adding this feature.

Yes for t

[2020-08-15 20:34] joejordanbrown commented on #67
In short, we would just need to be able to customise this

https://github.com/stayallive/wp-sentry/blob/master/src/class-wp-sentry-js-tracker.php#L150-L155

[2020-08-22 20:02] szepeviktor opened #70 "Simple and straight-forward main plugin file"
If every WordPress installation would run in a [strictly controlled](https://github.com/szepeviktor/debian-server-tools/blob/master/Onboarding.md) and Composer-managed environment
wp-sentry.php could be only a couple of lines long without any conditionals.

# 😿

[2020-08-24 13:40] stayallive commented on #70
Yes. I'm not sure if you were looking for something here but I can't fix WordPress so this is how it is for now.

[2020-08-24 13:40] #70 closed

[2020-09-04 12:29] ictbeheer opened #71 "Suggestion: use wp_get_environment_type to set WP_SENTRY_ENV"
WP 5.5 introduced the new function https://make.wordpress.org/core/2020/07/24/new-wp_get_environment_type-function-in-wordpress-5-5/

This could be used to set the environment if WP_SENTRY_ENV is not defined yet.

[2020-09-07 07:24] stayallive commented on #71
This is an excellent idea, I was not aware of that addition but sounds like a sane default 👍

[2020-09-30 04:47] archon810 commented on #68
3.0 is out https://github.com/getsentry/sentry-php/releases/tag/3.0.0, what do you think about kicking things off @stayallive?

[2020-09-30 08:38] stayallive commented on #68
I don't have the time for this right as this moment, so feel free to kick things off 😉

Even if you would upgrade to the PHP SDK 3.0 performance monitoring would not magically work and still require quite some work to get working and add all the required tracing bits and pieces 😄

[2020-11-06 10:25] Kilbourne opened #73 "wp_sentry_options filter is never used"
Currently the only place where the filter is called is:
https://github.com/stayallive/wp-sentry/blob/9e21376b681ce5176202df97336cfd62b1cc0f4f/src/class-wp-sentry-php-tracker.php#L85-87
[code]

This is after this commit [Remove filter from default options ](https://github.com/stayallive/wp-sentry/commit/94460cb3b70ab324dc52012841919290253340c3), although i can't see why you did it..

[2020-11-06 10:33] Kilbourne commented on #73
OK sorry, misread the docs ( but probably is more appropiate a 'do_action' to make clearer the return value has no effect)

[2020-11-06 11:18] stayallive commented on #73
Yes, it probably should, however it works and is documented so to prevent breaking code I'll leave it in for now.

If you feel like the docs should be more clear feel free to submit a PR 😄

[2020-11-06 11:18] #73 closed

[2020-11-10 15:37] #71 closed

[2020-11-10 18:17] chggib opened #74 "[3.11.0] Fatal error: Trait 'WP_Sentry_Resolve_Environment'"
Just tried to use the newest version and received the following:

Fatal error: Trait 'WP_Sentry_Resolve_Environment' not found in .../plugins/wp-sentry-integration/src/class-wp-sentry-php-tracker.php on line 13

WordPress version: 5.5.3
WordPress Sentry: version: 3.11.0, author: Alex Bouma
php_version: 7.2.34 64bit

Let me know if you need other info / if there is something I need to do on my end.

[2020-11-10 18:57] tylertadej commented on #74
Same.. my WP site auto-updated this plugin and it created a fatal error which took the site down.

[2020-11-10 19:06] stayallive commented on #74
Unfortunately there was something wrong with the release process which I missed :( It looks like the setup PHP command for GitHub actions has auto-upgraded to use Composer v2 which prevented the release to be completely built.

I'm sorry this happened, version `3.11.1` is rolling out which fixes that!

[2020-11-10 20:37] tylertadej commented on #74
@stayallive thanks for the quick fix! Updated and verified as working.

[2020-11-10 20:43] stayallive commented on #74
Thanks for verifying and again apologies (to everyone affected) for this, will make sure to add safe guards against this happening again in the future.

[2020-11-10 20:44] #74 closed

[2021-01-09 14:03] andreydruz commented on #21
Hello,

It is possible to add user feedback on version 3.x?
Same as here https://github.com/stayallive/wp-sentry/issues/21#issuecomment-402049699 ?
How to set error page? Redirect in .htaccess to some php page? If so, it may be better to add this page in plugin and add it readme.

[2021-01-15 12:04] bobmulder opened #77 "Sentry seems to be 'too late'"
Hi there,

Thank you for this plugin, which helps me a lot!

Something is wrong with my webshop. I am getting random 500 responses. The logs my server makes don't show any details, just that the response was a 500. Sentry doesn't give me any message about a new issue, so I think Sentry is loaded too late to handle the (internal?) exception from Wordpress.

I have loaded the plugin as MU plugin, as

[2021-01-15 13:15] stayallive commented on #77
Hi Bob,

The error logs on your website should show you at least some information on the 500 and why it occurs but it depends on the webserver and php configuration, however that is not the point of this issue.

But it's totally possible something in the core or maybe even your `wp-config.php` file causes issues and Sentry will always be too late to catch that unfortunately since it loads right af

[2021-01-15 20:24] bobmulder commented on #77
Thanks for your reply! I'll do some extra digging into plesks logging.

I'm not very experienced with the implementations of sentry, but I'm curious what your thoughts are: I am using bedrock as base for my wordpress instance. Are we able to use sentry's PHP sdk for it, instead a wp plugin (which will load later because it's a plugin)? Of wouldn't it catch all wp related errors?

[2021-01-18 11:25] stayallive commented on #77
I'm thinking about this. But you could certainly use the plain PHP SDK and initialise it right after the composer autoloader to load it as early as possible and catch those errors I think.

However, I have never used bedrock so I can't unfortunately say for sure that would work.

I am also thinking that using that method + the plugin could cause duplicate events and that we might want to do some c

[2021-01-18 12:52] bobmulder commented on #77
Thank you for sharing! I was looking at what this plugin is doing to get Sentry working for Wordpress. As far as I can see nothing much happens (nothing against your work tho!).

I'll give it a try for Bedrock and get back to you!

[2021-01-18 12:52] #77 closed

[2021-01-18 13:07] stayallive commented on #77
You are exactly right 😉

This plugin (and other framework integrations) are supposed to do at least as possible and have the PHP SDK do all the heavy lifting, so this plugin provides a little UI and configures the PHP SDK and hooks into some WP specific hooks, but that's it so any error reporting code lives in the PHP SDK itself.

Let me know if you find a good solution and if we can possibly docu

[2021-01-26 20:06] clintonb opened #78 "Upgrade sentry-php"
I received an email from Sentry noting my use of the outdated Sentry library. What work is needed to go from 2.x to 3.x?

[2021-01-27 07:38] therajumandapati commented on #78
Just got received the same email. How can we help @stayallive ?

[2021-01-27 10:57] stayallive commented on #78
Oh wow nice heads up about this e-mail being sent, lol 🥇

Out of curiosity could you share the e-mail text here (keep your personal information out of it, just interested in the text)?

I'm going to make an effort to get an update out for you guys with the new PHP SDK, hold tight! 😉

[2021-01-27 14:45] therajumandapati commented on #78
@stayallive Here's the screenshot of the email:
![image](https://user-images.githubusercontent.com/5555261/106007460-54fefa00-60dc-11eb-8dfd-4a83c99b6832.png)

[2021-01-29 13:34] stayallive commented on #78
Just for future readers having a bit of a panic because of this e-mail.

But I am working on the update and hope to get that in your hands soon!

[2021-01-30 19:42] joejordanbrown commented on #67
@stayallive

Any update on adding the feature to allow us to provide our own javascript browser file like shown above using for example SENTRY_BROWSER_SCRIPT?

I don't mind providing a pull request for this feature, it won't create any backwards compatibility issues.

[2021-01-31 01:25] stayallive commented on #78
After a little snafoo [4.0.0](https://github.com/stayallive/wp-sentry/releases/tag/v4.0.0) was just released (but you will install [4.0.1](https://github.com/stayallive/wp-sentry/releases/tag/v4.0.1) which uses the new SDK.

If you done any custom interaction with the plugin please make sure it works before blindly updating 😉

[2021-01-31 01:25] #78 closed

[2021-01-31 01:27] stayallive commented on #68
For the followers of this issue, I have just released 4.0.0 which contains the 3.x PHP SDK and thus performance monitoring support.

This however _DOES NOT_ mean that performance tracing is working with a flick of a config switch yet 😉

But with some manual labour you could get it working now because the SDK is up-to-date.

Keeping this issue open to track progress on integrating in WordPress and

[2021-01-31 17:15] kkmuffme opened #79 "4.x does not report notices despite E_ALL"
I just updated to 4.0.1 but it seems that for PHP only fatal errors are reported by sentry.

I have `define( 'WP_SENTRY_ERROR_TYPES', E_ALL );` set.

e.g. in 3.11.1 for following code:

[code]

I would get 2 errors in sentry:

However in 4.0.1, sentry.io only shows:

Not sure if this is an issue by wp-sentry-integration or the underlying SDK though.

[2021-02-06 12:20] stayallive commented on #67
I have opted to go another route.

If you want to replace the Sentry browser script just disable ours and enqueue your own 😄

But we now have a `WP_SENTRY_BROWSER_TRACES_SAMPLE_RATE` option to enable Sentry browser tracing with the default options.

[2021-02-06 13:44] stayallive commented on #79
This has possibly to do with the `error_reporting` level you have set.

Sentry uses that to determine which errors to report.

So you should set that to `error_reporting(E_ALL)` too or set the `capture_silenced_errors` option in the [Sentry client option](https://github.com/stayallive/wp-sentry#wp_sentry_options-array).

[2021-02-07 14:20] kkmuffme commented on #79
Nope, it doesn't, bc it works fine in 3.11.1. The issue only occurs in 4.0.1, not in 3.11.1 before.

Additionally I have (since ages) set in php.ini/www.conf
`error_reporting = E_ALL`
`php_admin_value[error_reporting] = E_ALL`

and additionally also `define( 'WP_SENTRY_ERROR_TYPES', E_ALL );`

Did you try to reproduce it?

[2021-02-07 15:19] stayallive commented on #79
I did, and I could.

However I also do think I know why I was not seeing what you are seeing.

I am running PHP 7.4 and 8 in my testing environment where an undefined variable is a `E_WARNING` on PHP 8 instead of a `E_NOTICE` on 7.4.

And WordPress set's a default `error_reporting` level with `WP_DEBUG` off (so your `php.ini` settings are overwritten by WordPress which causes confusion.

I am look

[2021-02-07 15:39] kkmuffme commented on #79
Yes, I'm on PHP 7.4

I have had `WP_DEBUG` set to false during all tests.
Since my WP version (& literally everything else in my test environment) is the same when I tested 4.01/3.11.1, I don't think it is anything with WP (or its error handling) itself.

[2021-02-07 16:25] stayallive commented on #79
I think you might have unearthed a bug in the Sentry SDK and I also think I have a fix for it, hopefully this makes it into a release soon and we can fix this behaviour: https://github.com/getsentry/sentry-php/pull/1183.

[2021-02-19 09:40] stayallive commented on #79
Hi @kkmuffme, it took some time but could you try out the `4.2.0` release that was just released to see if it fixes the issue?

[2021-02-20 10:30] kkmuffme commented on #79
Thanks works again correctly with 4.2.0 @stayallive

[2021-02-20 10:30] #79 closed

[2021-02-20 10:56] stayallive commented on #79
Perfect, thanks for the feedback 👍

[2021-02-22 15:37] lubo-makky commented on #79
@stayallive I am following this issue as I have run into same problem. After fix I upgraded to 4.2.0 however `E_USER_NOTICE` is still not being logged, `E_USER_WARNING and `E_USER_ERROR` are getting thru. With version 3.11.1 reporting of notices worked well, as reported in https://github.com/stayallive/wp-sentry/issues/79#issuecomment-774694958

I use PHP 7.4 and test via trigger_error:

[code]

I

[2021-02-22 16:00] stayallive commented on #79
@lubo-makky I have tested it with `define( 'WP_SENTRY_ERROR_TYPES', E_ALL );` and the following code:

[code]

I got 4 messages in Sentry so I think it is working as intended, I tested this both on PHP 7.4 and 8.0.

Are you sure the `trigger_error` occurs after the Sentry plugin was loaded?

Maybe open up a new issue with some more information about your code and environment so we can investigate?

[2021-03-01 01:59] LucianoHanna opened #80 "Uncaught Error: Undefined constant 'CURLOPT_TIMEOUT'"
Environment:
Ubuntu 20.04
php 7.4.3

Fatal error:
Uncaught Error: Undefined constant 'CURLOPT_TIMEOUT' in /var/www/html/wp-content/plugins/wp-sentry-integration/build/vendor/sentry/sentry/src/HttpClient/HttpClientFactory.php:113
Stack trace:
#0 /var/www/html/wp-content/plugins/wp-sentry-integration/build/vendor/sentry/sentry/src/Transport/DefaultTransportFactory.php(57): Sentry\HttpClient\HttpClie

[2021-03-01 08:06] stayallive commented on #80
Have you installed the curl PHP extension?

[2021-03-01 10:22] LucianoHanna commented on #80
It was that, thank you.

[2021-03-01 10:22] #80 closed

[2021-03-08 18:28] vyskoczilova opened #81 "Add custom data to catched exceptions not working"
I'm not able to catch exceptions with additional data, somehow (or have no idea where to find them), I've tried:

[code]

As in the [Sentry docs](https://docs.sentry.io/clients/php/usage/#reporting-exceptions), the event gets in, but without any additional data.

Just to mention, I'm on the free plan if it affects this functionality.

Thanks a lot for helping me out.

[2021-03-08 20:46] stayallive commented on #81
Ah yeah. Unfortunately you are looking at the legacy documentation for the old PHP client, so that's why it's not working. Free plan should be fine!

Here is where you want to be: https://docs.sentry.io/platforms/php/enriching-events/context/#structured-context

There is a side note with this code though for which I cannot quickly find a example for in the docs.

When you set something on the scop

[2021-03-09 12:31] vyskoczilova commented on #81
Hi, @stayallive Thanks a lot for the help! That works just perfectly. To be honest, I haven't noticed that I've landed on the old documentation.

I've extended the plugin readme - maybe it will help someone else too. Thanks for the great plugin & support.

[2021-03-09 12:55] stayallive commented on #81
Yeah the banner displayed [on this page](https://docs.sentry.io/clients/php/) should probably be repeated on the subsequent pages, or the content should possibly just be removed 😅

Anyway, thanks for contributing this back to the readme, I'm sure this will help someone in the future!

[2021-03-09 12:55] #81 closed

[2021-03-18 22:58] robsonsobral opened #83 "Sentry on Premise"
Hi!

Please, how do I set the `SENTRY_URL` pointing to a self hosted Sentry instance?

Thank you for your attention!

[2021-03-19 07:18] stayallive commented on #83
It the DSN option you are looking for.

A self-hosted Sentry generates a DSN just like sentry.io and you don't have to do anything else to make it work with a self-hosted instance. Enter the DSN and you're good to go.

But it's more useful for you to tell me what you did and what is not working 👌

[2021-03-22 23:03] robsonsobral commented on #83
I'm sorry, @stayallive ! I guess I need to sleep more and work a little less. But I'm not sure about it!

Thank you so much!

[2021-03-22 23:03] #83 closed

[2021-03-26 08:31] Trisky commented on #68
Hi! I needed the performance feature so I  implemented it in the mu-plugin. I Did it this way because I keep that in version control and install wp-sentry through wpackagist.

It kinda works but it **doesn't show the stack trace** in sentry performance and I'm kinda lost on what I'm missing

[code]

Do you guys have an idea on why is the stack trace not working? 🤔   The stacktrace does work for JS

[2021-03-26 08:49] stayallive commented on #68
I'm not able to dig in but I hope these links help you in the right direction:

Starting the transaction:
https://github.com/getsentry/sentry-laravel/blob/master/src/Sentry/Laravel/Tracing/Middleware.php#L80-L118

Finishing the transaction:
https://github.com/getsentry/sentry-laravel/blob/master/src/Sentry/Laravel/Tracing/Middleware.php#L76

Adding a child to the transaction:
https://github.com/ge

[2021-03-26 09:23] Trisky commented on #68
Oh I  didn't think about finishing the span before the transaction haha. Great.

I've been also checking the implementation for Laravel for inspiration so I'll improve the code a bit removing the global variable mess I made.

I'll try to make one span for the plugins and an other for the theme as well. What do you think?

Thanks. 🎉

[2021-03-26 09:27] stayallive commented on #68
We probably want to end up trying to do a bit more like listening for `plugins_loaded`, `setup_theme` and `wp_loaded` and recording those times as spans too since I think that might be interesting data.

And maybe we can use other hooks to measure HTTP requests and possibly even SQL queries.

But this is already off to a great start 👍

[2021-04-01 19:10] kkmuffme opened #85 "ignoreErrors and ignoreUrls support?"
1) is wp_sentry.blacklistUrls the same as sentry native ignoreUrls ?

2) is there support for sentry ignoreErrors, e.g. via wp_sentry.ignoreErrors?

[2021-04-02 07:29] stayallive commented on #85
Hi @kkmuffme, I'm assumin you are talking about the Browser/JavaScript integration here?

In the readme we have a whole section on how to pass those configuration options:

Let me know if that works and if not show me what you tried :)

[2021-04-03 10:29] kkmuffme commented on #85
Thanks. It's also possible using the wp_sentry_hook function though, isn't it? (and setting wp_sentry.ignoreErrors = [...])

P.s: I was just asking, since I think I found a bug in the sentry SDK, but wasn't aware of that at the time of creating the question.

[2021-04-03 11:13] stayallive commented on #85
It is possible with this: https://github.com/stayallive/wp-sentry#advanced-client-side-hook.

You can set things on the options manually there.

We include version 6.2.0 of the Browser SDK at the moment, so if there is a bug with that version it could possibly already be solved in a later version I have not yet included.

[2021-04-06 07:02] #85 closed

[2021-04-19 09:53] Trisky commented on #68
I've modified the mu-plugin adding this code after `define( 'WP_SENTRY_MU_LOADED', true );` to add sentry-performance but I didn't get too far away. It tells me which endpoints are running slow (good) but I didn't  figure out how to activate the stack analysis that works for Python, javascript or Laravel itself. So it only shows this in the event details:

![image](https://user-images.githubuserco

[2021-05-10 23:38] rtpHarry opened #88 "Docs for wp_sentry_options specify array but should be Options"
There is no array that is returned, its a `Options` class, so this section actually needs an overhaul:

https://github.com/stayallive/wp-sentry#wp_sentry_options-array

The documentation for this class is in the sentry sdk:

https://github.com/getsentry/sentry-php/blob/master/src/Options.php

The public facing docs are here:

https://docs.sentry.io/platforms/php/configuration/options/

[2021-05-11 12:51] #88 closed

[2021-05-20 15:05] marcwieland95 opened #90 "Don't capture all plugin errors"
Hey there,

first of all. The plugin works great. No issues so far.

I'm wondering if there is a possibility to remove exceptions of plugins (code I don't control by myself).
We have the problem that our logs are just too much and most of them are irrelevant since we can't change the plugins.

Thanks for your input
Cheers
Marc

[2021-05-20 18:58] stayallive commented on #90
Hi Marc,

You can but there is no "simple option" but we have plenty of hooks in the Sentry SDK to use.

I've written about it here: https://wordpress.org/support/topic/enable-sentry-for-specific-plugin/#post-14155498.

Let me know if that helps or if you get stuck somewhere!

[2021-05-21 15:11] marcwieland95 commented on #90
Amazing. That helped a lot.

### For documentation purpose
I created this little snippet to check if there are some parts within my code in the stack trace.
Attention: there's a PHP 8.x function used in this snippet.

[code]
As mentioned in the linked ticket, it's important to run this filter at a very early stage.

[2021-05-21 15:57] stayallive commented on #90
Awesome, thanks for sharing!

Would you mind if I add a (slightly modified) version of this to the README for others looking for a solution?

[2021-05-21 15:59] marcwieland95 commented on #90
Sure. Go for it.
It's not the nicest code ever and not greatly tested. But should work

[2021-05-21 19:53] stayallive commented on #90
I've made it a little more robust and also added a fallback for older PHP versions.

Take a look: https://github.com/stayallive/wp-sentry#capturing-errors-only-from-certain-theme-andor-plugin.

Thanks again for sharing!

[2021-05-21 19:53] #90 closed

[2021-06-21 08:13] codeagencybe commented on #68
@stayallive
Is this feature already (official) available in the current version/implementation?
I was just reading the plugin docs and wp-config params and it only mentions about javascript performance.
Does this mean php performance is not there yet?

Im also looking for performance monitoring and already using Sentry. This new feature would be amazing to finally understand performance better fro

[2021-06-21 08:29] stayallive commented on #68
Hi @codeagencybe, there are 2 parts to performance tracing.

- [x] The PHP SDK to have the code needed to hold and send the traces to Sentry Server
- [ ] The code needed in the WordPress plugin to actually created traces and profile certain WordPress features

Unfortunately I have not had the time to put into this so it will either require some community effort or some patience before this becomes

[2021-06-21 08:47] codeagencybe commented on #68
@stayallive

Thanks for the feedback!
By all means, I'm not putting any stress on you or anybody on this.
I just by accident discovered this thread from a Google search and read there was some work done but didn't understand the full scope yet what is done and what not (yet).

I can totally understand it takes a lot effort to implement this for every possible language in the market.

As a side not

[2021-06-21 08:56] stayallive commented on #68
@codeagencybe, no worries, it was a good question and good time to explain it fully what the status is and what would be needed to get this off the ground (also for future Googlers ending up here).

Also good call about the New Relic plugin. I can only find an [unofficial](https://nl.wordpress.org/plugins/wp-newrelic/) one by 10up which adds metadata to the New Relic traces collected by their PHP

[2021-06-28 17:39] kkmuffme opened #91 "Bug: PHP errors are not getting reported anymore"
Sentry is not triggering/recording errors since 4.4.1 (maybe 4.4.0) anymore.

In 4.3.0 I got sentry errors for:

[code]

or

[code]

In 4.4.1 they wont show up in sentry.

[2021-06-28 19:06] stayallive commented on #91
Can you confirm that downgrading fixes the problem?

[2021-06-29 07:03] kkmuffme commented on #91
Yes, it works in 4.3.0, I just tested it again.

[2021-06-29 08:28] stayallive commented on #91
Hmm, I have been trying to reproduce this but when using your code in `header.php` of the Twenty Seventeen theme I get the reports sent to Sentry every time.

Can you tell me a bit more about your PHP version and environment (Linux/Windows) and where exactly you are placing that code?

The code placement should not matter as long as you don't move it between testing between 4.3.0 and 4.4.x of cour

[2021-06-29 12:38] Giacomo92 opened #92 "WP_SENTRY_BROWSER_DSN and WP_SENTRY_VERSION not working"
HI everyone,
I have activated the plugin and I have setup the configuration key on wp-config.php like this:

[code]
This is a screen from admin panel:

![Schermata 2021-06-29 alle 14 34 41](https://user-images.githubusercontent.com/11694429/123798087-25e8f080-d8e7-11eb-8530-c7e0884b0469.png)

As you can see the js tracing is not enabled.
I also tested `WP_ENVIRONMENT_TYPE` that is not working.

Ho

[2021-06-29 12:52] stayallive commented on #92
Okay, fir the `WP_ENVIRONMENT_TYPE`, make sure you are using any of these values:

[code]

If you are setting `WP_ENVIRONMENT_TYPE` to anything else it defaults to production ([read more here](https://make.wordpress.org/core/2020/07/24/new-wp_get_environment_type-function-in-wordpress-5-5/)).

---

I tried both and they are both working for me:

[code]

Make sure your host is not using opcache (or

[2021-06-29 15:35] Giacomo92 commented on #92
Hi @stayallive, `WP_ENVIRONMENT_TYPE` is solved. I did not know it is a standard wordpress constant with a fixed amount of value.

`WP_SENTRY_BROWSER_DSN` still not working, I also try a filter in my function file:

[code]
but the JavaScript checkbox never get enabled.

**PHP Version:** 7.4.20
**Plugin Version:** 4.4.1

Thanks

[2021-06-29 15:48] Giacomo92 commented on #92
Hi @stayallive, `WP_ENVIRONMENT_TYPE` is solved. I did not know it is a standard wordpress constant with a fixed amount of value.

`WP_SENTRY_BROWSER_DSN` still not working, I have also tried a filter in my function file:

[code]
but the JavaScript checkbox never get enabled.

**PHP Version:** 7.4.20
**Plugin Version:** 4.4.1

Thanks

[2021-06-30 09:03] stayallive commented on #92
Yeah `WP_ENVIRONMENT_TYPE` is fixed indeed but you can use `WP_SENTRY_ENV` to put in anything you want.

The browser DSN is puzzling me why it will not work for you... I did make some changes to make the code a bit simpler for `4.5.0` of the plugin (just released) but I doubt it will solve your issue.

But I did not see if you are placing the `define( 'WP_SENTRY_BROWSER_DSN', 'https://asdasd@sentr

[2021-06-30 11:58] Giacomo92 commented on #92
Now the checkbox is enabled.
![Schermata 2021-06-30 alle 13 50 57](https://user-images.githubusercontent.com/11694429/123955755-429a2c80-d9aa-11eb-8687-ec918eaa0ac5.png)

When I try to send a Javascript test event I got this:
![Schermata 2021-06-30 alle 13 52 50](https://user-images.githubusercontent.com/11694429/123955910-77a67f00-d9aa-11eb-940a-fb62ffb6a054.png)

I notice that [wp-sentry-browser

[2021-06-30 13:01] stayallive commented on #92
It's getting more interesting by the minute here :D

Happy to see changes to the plugin helped make it work... somehow...

But at least the JS tracker is enabled now so we can move forward!

Are you using a plugin to concatenate scripts and or styles that might be in play here?

You can see the code it hooks into `admin_enqueue_scripts` so I don't see how that wouldn't work unless something is mes

[2021-07-01 12:22] stefs7 commented on #92
Hi,

I'm also experiencing issues with WP_SENTRY_PHP_DSN & WP_SENTRY_BROWSER_DSN.
Using the latest WP plugin version (4.5.0) with the following defined in my wp-config:

[code]

OPcache & normal cache where emptied.

![image](https://user-images.githubusercontent.com/86782623/124123078-21ebd880-da77-11eb-9743-b79df1c1df5f.png)

[2021-07-01 12:56] stayallive commented on #92
Hey @stefs7 are you a new user or did you update the plugin from an earlier version?

Did you also put the `define`s above the `/* That's all, stop editing! Happy blogging. */` line in the `wp-config.php` file?

[2021-07-01 13:00] stefs7 commented on #92
Hey Alex,

Correct, I created my account today.
The `define`s are defined above the `/* That's all, stop editing! Happy blogging. */`.

Thanks for your fast reply!

[2021-07-01 13:04] stayallive commented on #92
Okay I'm super puzzled why this is an issue... I have copied your `define`s (but added correct DSN's of course) and it works just fine in my testing... so I must be missing something in my tests.

Can you also tell me what PHP version you are using and what version of WordPress so I can try to replicate?

[2021-07-01 13:33] stefs7 commented on #92
PHP version: 7.2
WordPress (multisite): 5.7.2

I don't know for sure if I did use the correct keys.
I'm supposed to use the "DSN" key for `WP_SENTRY_PHP_DSN` & `WP_SENTRY_BROWSER_DSN` right?

![image](https://user-images.githubusercontent.com/86782623/124132966-a5aac280-da81-11eb-8ed4-032d63d66f2a.png)

[2021-07-01 14:17] stayallive commented on #92
Yes the values are indeed 90% of the time the same. But only the PHP SDK does some validation (and crashes hard if the value is invalid, needs to be fixed) but the browser DSN is not validated at all and only checked if it's not empty, so any value will be accepted there so that's why I am so puzzled why it's not working 😄

I will try to figure it out with 7.2 and WP 5.7.

About multisite, did you

[2021-07-01 14:32] stefs7 commented on #92
The plugin is site-wide: enabled for two domains (Dutch and Belgium).

Thanks for your help!

[2021-07-02 08:47] stayallive commented on #92
Hey @stefs7 I have tried to replicate the issue but I'm not getting anywhere :(

My `wp-config.php` looks like this for testing which might help you spot the problem in yours:

[code]

Are you using some interesting deployment tools like Deployer or Capistrano or Bedrock or something to manage and/or update your WordPress installation? I'm grasping at straws here thinking about what could possibly

[2021-07-04 07:19] kkmuffme commented on #91
Just updated to 4.5.0 and it works again.

Looks like a bug in the sentry lib used in 4.4.0/4.4.1.

[2021-07-04 16:08] stayallive commented on #91
Okay interesting, but glad it's working at least 👌

[2021-07-04 16:08] #91 closed

[2021-07-06 11:47] stefs7 commented on #92
Hi @stayallive,

Sorry for my late reply.

I'm gonna try Sentry on a non-WordPress project first to exclude any other possible problems from my side.
Gonna let you know what my results are!

[2021-07-06 12:32] stefs7 commented on #92
Update: problem was caused by a migration to a new server, so the changed wp-config with Sentry credentials was never used ._.
It instead loaded a different wp-config...

Bit of a dumb fault, sorry!

[2021-07-06 12:41] stayallive commented on #92
@stefs7 Woooops... well that would explain why it wasn't working, it happens! 😆

Great to hear it was solved for you at least!

Now I only need to figure out what the issue with @Giacomo92 is, is the JS file loading now or is that still broken for you?

[2021-07-09 09:48] stefs7 opened #93 "Add option to exclude admin users"
This feature would allow to exclude errors origin from third-party plugin's which have a high chance of producing errors in the WP Admin.

[2021-07-12 09:01] stayallive commented on #93
I think it might be better to actually exclude errors from third-party plugins if you are not interested in them?

See: https://github.com/stayallive/wp-sentry#capturing-errors-only-from-certain-theme-andor-plugin

---

If you wanted you can use the same code example to ignore errors when `is_admin()` is `true`:

[code]

Note: the `wp_sentry_options` filter fires on the WordPress `after_setup_them

[2021-07-22 15:31] dquinteros commented on #92
I have this same issue

[2021-07-22 15:34] stayallive commented on #92
Are you using a plugin to concatenate scripts and or styles that might be in play here or maybe even other caching plugins?

Can you try and disable all other plugins to see if it solves the problem? (do not do this on a production environment but only a test site).

[2021-07-22 21:18] dquinteros commented on #92
I do not use any specific plugin to concatenate scripts or styles, nor do I use any plugin for caching. I manage the cache mainly through cloudflare.

I will try to discard plugins compatibility  issues, will share my findings on the next days.

[2021-07-24 09:51] codepuncher opened #94 "`wp_sentry_options` first argument is always `null`"
I am having issues with using the `wp_sentry_options` filter.
It seems that the 1st argument passed is always `null` rather than `\Sentry\Options` and as a result, the code I am writing is not being fired.

I have made an MU Plugin to load the plugin sooner, as instructed by <a href="https://github.com/stayallive/wp-sentry#capturing-plugin-errors" rel="noopener" target="_blank">the readme</a>. Thi

[2021-07-25 17:22] stayallive commented on #94
The code that is called in the plugin is:

[code]

And `getOptions` has `Options` as a return type, so it cannot be `null`, `getClient` could technically return `null` but that would result in a method call on `null` error aborting the application.

Do you have multiple `wp_sentry_options` filters perhaps and forget to end the filters with `return $options`? Because no return or just `return;` wil

[2021-07-27 10:00] codeagencybe commented on #68
@Trisky

Did you manage to get it working? Do you have the code for your mu-plugin somewhere so I can give it a try also?

Thanks!

[2021-07-28 10:19] codepuncher commented on #94
Ah, yep. That might have been the issue; not returning the `Options` object.
Thanks for updating the readme!
All good now.

[2021-07-28 10:19] #94 closed

[2021-07-29 09:22] Trisky commented on #68
@codeagencybe
Hi Fabio, you can find what I have [here in my comment](https://github.com/stayallive/wp-sentry/issues/68#issuecomment-822337859). I didn't dive into this issue again.
Best,
Sebastián.

[2021-08-14 12:06] kkmuffme opened #95 "Rate limiting certain errors"
If the WP DB (or Redis,...) goes away, within a few minutes the sentry issue allowance is used up (sending thousands of issues per minute)

Is there a way to rate limit these errors from the plugin's end? (if there is a possibility to do it from sentry's interface that is welcome too)

EDIT: sorry for the edit, I fat fingered on enter

[2021-08-14 17:57] stayallive commented on #95
There are 2 ways, none in the SDK but Sentry itself has 2 very useful features to prevent this:

- https://docs.sentry.io/product/accounts/quotas/#spike-protection
- https://docs.sentry.io/product/accounts/quotas/manage-event-stream-guide/#6-rate-limiting

Technically setting a sample rate in the SDK would also work but I would recommend against it since that might also mean legitimate issues slip

[2021-08-15 20:43] kkmuffme commented on #95
Works extremely bad. e.g. my issues went from 20000 to 100 000 in 1 day, with just 5 issues. Even though it "spike protected" 25000 events, there are more than 80 000 which it didn't "kick in"

Only works on a more expensive business plan, that is overkill for most WP use cases.

Additionally this will rate limit ALL errors, but I only want to rate limit a specific set of errors (e.g. connection t

[2021-08-15 20:43] #95 closed

[2021-08-22 16:33] kkmuffme opened #96 "Sending requests to itself instead of sentry?"
We see some `POST /api/5189343/store/` requests in our own access log, with requester user agent `sentry.php.wp-sentry-integration/4.6.0`

Sentry works for us (= we see the errors in sentry.io), so we were wondering what/why is happening here?

Are you using wp_remote_post under the hood or something? (and somehow this gets overwritten by a filter on our end)

[2021-08-22 18:43] stayallive commented on #96
Ummm no... that is really interesting though! Are you also seeing the IP as being your own server?

We use the PHP SDK and their transports, WordPress is not involved in making the request to Sentry server so unless you have the DSN somehow set to your own server or have a filter messing with the SDK options (and mainly the DSN) I would not even know where to begin looking 😅

[2021-08-22 18:53] kkmuffme commented on #96
Yes, the IP is our own server

[2021-09-08 09:16] caugner opened #97 "Disable Release Health (autoSessionTracking) by default"
The plugin is described as [only] reporting PHP and JavaScript errors to Sentry, but it also sends a session event for *every* page navigation, essentially **tracking users** (without consent).

This seems to be Sentry's [Release Health](https://docs.sentry.io/platforms/javascript/configuration/releases/#release-health) feature:

The solution is to set the `autoSessionTracking` flag to `false`:

[

[2021-09-08 10:00] stayallive commented on #97
Hmm, I can agree with you but since it's the default of the JS SDK I think we maybe could communicate better what is being used under the hood instead of changing the SDK defaults?

[2021-09-08 10:14] caugner commented on #97
If you add the "health" aspect to the plugin description and add an environment variable `SENTRY_AUTO_SESSION_TRACKING`, that would be a solution I could live with, because I use self-hosted Sentry (onpremise) instances exclusively.

Afaik Sentry's Release Health doesn't make sense for most WordPress sites though, because the plugin doesn't set a "release". It could use the WordPress version, but

[2021-09-09 08:25] LiegardPierre opened #98 "Trouble with the installation"
Hello !

I have some trouble with the plugin installation.
I have a multisite wordpress (v5.6.2)  and when I try to install the plugin (the latest version - v4.6) I get this error :

[code]

Thanks for your time !

[2021-09-09 10:02] stayallive commented on #98
Hi @LiegardPierre,

That error is caused when `WP_SENTRY_VERSION` `define` is set to `false` it seems.

Are you setting `WP_SENTRY_VERSION` yourself?

The fallback is `wp_get_theme()->get( 'Version' ) ?: 'unknown'` which I can assume might return `false` but `false` should default to `unknown` to I believe you are either setting `WP_SENTRY_VERSION` yourself or something unexpected is happening :)

[2021-09-24 15:00] giilby opened #99 "Allow configuration of `\Sentry\Options` before initialization"
Per 94460cb, a change was made a few years ago that modified the behavior of `wp_sentry_options` to be called after Sentry client initialization instead of before. I'm assuming there's a reason for the change, but it's not clear to me at the moment.

I bring this up because I'd like to modify the [default integrations](https://docs.sentry.io/platforms/php/integrations/) that are set up when the cl

[2021-09-28 17:38] stayallive commented on #99
The problem here is that I doubt a filter is very effective since you want to initialise the client way before your own code is even executed.

I did think of a workaround but it felt a little hack-ish, but let me know what you think.

---

In your `wp-config.php`:

[code]

I'm not very excited about it but I also cannot think of another solution where your code runs before Sentry initializes espe

[2021-09-28 22:43] giilby commented on #99
@stayallive Yeah, I had something similar in mind. I considered waiting to set `WP_SENTRY_PHP_DSN` until after a `wp_sentry_modify_default_options` filter is registered, but I think the constant-based callback registration approach is better, even though both feel hacky. I think it's worth providing because the only proper way to configure integrations is before the client is initialized. Do you w

[2021-10-06 17:37] caugner commented on #97
@stayallive As an alternative, could you please update the plugin description?

Essentially, the plugin currently advises itself as a smoke detector, when it is in fact reporting on any move any user is doing, including all form inputs. And the plugin description doesn't come from https://github.com/getsentry/sentry-javascript.

[code]

[2021-10-07 02:01] EHLOVader opened #101 "PHP failed with Gitlab Integrated lightweight alternative to Sentry"
This may actually be a question about if this will or can support [Gitlab's integrated alternative endpoint to sentry](https://docs.gitlab.com/ee/operations/error_tracking.html#integrated-error-tracking).
But they say that you can still use the sentry SDK, which this does.

When I test Javascript with my issued DSN it says it is successful. But the PHP test returns an error that it failed but no o

[2021-10-15 04:46] jordantrizz opened #102 "Support for Multisite?"
I've installed your plugin on a multisite instance and network activated the plugin. I don't seem to be getting errors in sentry.io

[2021-10-15 07:33] stayallive commented on #102
Are you sure you are supposed to get errors? Since it's possible everything just works 😊

[2021-10-15 18:01] jordantrizz commented on #102
I thought the same. But I just sent a test via the plugin and nothing showed up at sentry.io :(

[2021-10-16 12:41] stayallive commented on #102
Okay, is the test page giving you some random looking event ID and a success message?

Have you also checked if you are not over your quota on sentry.io which will also result in no events coming through!

[2021-10-27 08:40] #102 closed, assigned to nobody

[2021-11-08 13:02] ehausen opened #104 "<unknown> as a Sentry issue title for JS errors"
Using WP plugin version 4.7.0

When a new Javascript issue is created the Sentry issue gets a title: `<unknown>`

PHP issues from the same site seem to get a title just fine.

![CleanShot 2021-11-08 at 15 00 12](https://user-images.githubusercontent.com/6204129/140746279-c7f6b8c0-0626-4caa-9d0a-0f96af0ee617.png)

[2021-11-08 18:28] stayallive commented on #104
Hmm, as far as I know we don't do anything special that causes this. Capturing JavaScript errors is pretty wonky though. But just in case this was a JS SDK problem I've updated it to the latest release so please update and see if the problem persists.

Also try the JavaScript tester under the tools section in your WP admin to see if that event comes through fine. If so, the issue is most likely th

[2021-11-10 12:12] stayallive commented on #101
Yep, but it's possible that is too late to do it.

GitLab lightweight is not supported by the Sentry PHP SDK (and I suspect never will receive proper support for obvious reasons) so I'm also not going to do anything to make it work in this plugin 😄

It also looks like they already fixed the compression issues on their side so this might all start working after the next GitLab release.

[2021-11-10 12:12] #101 closed

[2021-11-18 10:34] stayallive commented on #99
Sorry for the radio silence on this one, what do you think of:

[2021-11-18 10:34] stayallive commented on #98
I am closing this issue because of inactivity, if there is still an issue please re-open / open a new issue so we can investigate 👍

[2021-11-18 10:34] #98 closed

[2021-11-18 10:35] stayallive commented on #96
Hi @kkmuffme did you end up figuring this one out or solving it?

[2021-11-18 10:35] stayallive commented on #92
I am closing this issue because of inactivity, if there is still an issue please re-open / open a new issue so we can investigate 👍

[2021-11-18 10:35] #92 closed

[2021-11-18 10:35] stayallive commented on #93
I am closing this issue because of inactivity, if there is still an issue please re-open / open a new issue so we can investigate 👍

[2021-11-18 10:35] #93 closed

[2021-11-18 10:37] stayallive commented on #67
I feel like we solved this one and browser performance monitoring is available with some options to configure it. If there are specific things that are not working or not supported please open up a new issue so we can investigate!

[2021-11-18 10:37] #67 closed

[2021-11-18 12:21] stayallive commented on #99
Actually think it should work and already released it :)

Thanks for bringing this up and brainstorming on it!

[2021-11-18 12:21] #99 closed

[2021-11-18 14:04] encreinformatique opened #107 "Interface 'Stringable' not found"
Hello, this morning, a Wordpress got down after updating the plugin to the last version.
The error is with sentry in the vendor folder. If I am remember well, the Stringable interface was introduced in PHP 8.0.

[code]

PHP : 7.4.25
Wordpress : 5.8.2
Plugin : 4.10.0

[2021-11-18 14:21] androidacybot opened #108 "Cannot configure in wp-config.php"
https://github.com/stayallive/wp-sentry#loading-sentry-before-wordpress says you can now add the call to sentry in wp-config, but it throws an error:
[code]

Please either correct the documentation, or find out how you can replace the call to a function that isn't defined until wordpress is fully loaded.

[2021-11-18 14:43] stayallive commented on #108
Woah, easy there. This was just released in good faith and obviously something was overlooked which can always happen.

Have a little patience while I investigate on how to fix this nicely or submit a PR if you feel like you have a good solution yourself.

[2021-11-18 14:44] stayallive commented on #107
That isn't right obviously, apologies for the errors, I'll have a look on why this interface is added and why that's on non-8 installations.

[2021-11-18 15:15] stayallive commented on #107
This should be fixed in [v4.10.1](https://github.com/stayallive/wp-sentry/releases/tag/v4.10.1) that was just released.

[2021-11-18 15:15] #107 closed

[2021-11-18 15:15] stayallive commented on #108
This should be fixed in [v4.10.1](https://github.com/stayallive/wp-sentry/releases/tag/v4.10.1) that was just released.

[2021-11-18 15:23] #21 closed

[2021-11-18 15:23] #64 closed

[2021-11-18 15:23] #65 closed

[2021-11-18 15:23] #68 closed

[2021-11-18 15:25] stayallive commented on #48
I think we can for now close this issue, it's still searchable. If we need to do anything to improve compatibility let's open up a new issue so we can discuss with a fresh eye!

[2021-11-18 15:25] #48 closed

[2021-11-18 15:25] #104 closed

[2021-11-18 15:59] stayallive commented on #108
My apologies, in the rush trying to get multiple fixes out I totally forgot to even look at the JavaScript side assuming it worked (never assume, never rush).

This time it should be fixed in [v4.10.2](https://github.com/stayallive/wp-sentry/releases/tag/v4.10.2) that was just released als for the JS tracker which did way to much way to early anyway as you suspected.

[2021-11-18 15:59] #108 closed

[2021-11-18 16:07] stayallive commented on #108
Yeah WordPress plugin repo is alway a little slow with the release processing, it'll get there!

Do let me know if it's broken still for some reason of course but I think I got all the edge cases this time 😄

[2021-11-18 18:11] lkraav commented on #48
@johnbillion I assume QM doesn't need to be PHP 5.2 compatible anymore, correct?

Have any improvement paths opened here?

[2021-11-18 18:20] johnbillion commented on #48
It still supports PHP 5.3, but the next major is going to drop support for PHP 5 altogether. No ETA just yet.

[2021-11-19 11:55] Onatcer opened #116 "Interface 'Stringable' not found"
Hi,
it looks like the plugin just auto updated for one of my wordpress sites and broke the site because the Sentry SDK uses a PHP 8 Interface and the site is running on 7.3

PHP Fatal error:  Interface 'Stringable' not found in /wp-content/plugins/wp-sentry-integration/build/vendor/sentry/sentry/src/Dsn.php on line 12

I'm not sure if it is a plugin or sdk problem.

[2021-11-19 13:19] jaimyvangerrevink commented on #116
@Onatcer I've came across the same problem. Is it possible you had v4.10 installed? v4.10.1 should contain a fix for this problem, also 4.10.3 is already released.

[2021-11-19 13:25] Onatcer commented on #116
@jaimyvangerrevink thanks for the pointer, it works with 4.10.3 now.

sorry for not checking the release notes, i just assumed it was the latest version.
closing the issue.

[2021-11-19 13:25] #116 closed

[2021-11-23 16:39] EHLOVader commented on #101
Thanks for the update @stayallive. Gitlab did fix this, so it looks like it is working for me now.

[2021-12-11 17:58] midweste opened #117 "Lazy Loading option"
It seems that sentry is addressing some performance issues with fully loading Sentry and is allowing for lazy-loading of the js component until after page load (or when initiated). https://github.com/getsentry/sentry-javascript/issues/2233#issuecomment-547377460

https://snipboard.io/lufAWJ.jpg

This post is marked version 6.16.1 so maybe a future update as it looks like the js component is @sentr

[2022-03-11 08:06] shintaii commented on #92
Same issue here, i'm willing to help debug.

So i have cleared OPcache and cache, there is no JS minifying. There are no sentry js scripts in my frontend session.

[2022-03-11 09:05] stayallive commented on #92
Hi @shintaii, please tell us a bit more about your environment, like what PHP version, what version of the plugin, what version of WordPress and what exactly you did configure in your `wp-config.php` file 👍

[2022-03-11 09:38] shintaii commented on #92
Config file:
define( 'WP_SENTRY_PHP_DSN', 'https://123@567.ingest.sentry.io/890' );
define( 'WP_SENTRY_BROWSER_DSN', 'https://123@567.ingest.sentry.io/890' );
define( 'WP_SENTRY_BROWSER_TRACES_SAMPLE_RATE', 0.3 );

PHP version 7.4
plugin version:  4.14.0

[2022-03-15 05:29] ValeSauer opened #125 "JavaScript failed to send test event."
JS test returns

DSNs are set correctly, even the legacy way:

[code]

Are there any known interferrences with other plugins or any approaches on debugging this?

[2022-03-16 08:43] ValeSauer commented on #125
@stayallive
My browser console shows

`=> Sending a test message to Sentry...`
[code]
There is no adblocker, tried it even with different machines and with different networks. It does not even start an XHR call.

[2022-03-24 10:18] stayallive commented on #125
Hmm, that is not saying much 😅 I'm a bit at a loss here since you seem to do all the things correct.

You can try and run `Sentry.SDK_VERSION` in your console window. It should look something like this:

![image](https://user-images.githubusercontent.com/1090754/159894853-97a88db0-92fa-42b4-8a3f-fe890218f154.png)

If it doesn't then the Sentry JavaScript bundle might not have been loaded at all.

[2022-04-01 13:37] ValeSauer commented on #125
@stayallive  Unfortunately Sentry is undefined.
![image](https://user-images.githubusercontent.com/7767250/161274425-02781500-ee31-45f4-b421-1e0e9657f1a7.png)

[2022-04-01 15:27] stayallive commented on #92
@shintaii are you by chance running on a hosting provider that is using Lightspeed or have your site behind Cloudflare?

[2022-04-02 13:26] Giacomo92 commented on #92
Hi @stayallive, sorry for my late reply. I am stil experiencing this issue. If it can be useful my website is behind Cloudflare

[2022-04-02 13:39] shintaii commented on #92
Im using Kinsta, not sure what they use, but probably something like Cloudflare yes.

[2022-04-11 07:05] ValeSauer commented on #125
The page is [https://take-a-garden.com](https://take-a-garden.com) Neither frontend nor backend does load any js-file that looks wp-sentry-related. There is no minification plugin, however we use WP Super Cache (but without CDN activated). Enabling and disabling the plugin does not have any effect. I have uninstalled and reinstalled wp sentry: No effect.

Really weird... :-(

[2022-04-29 09:43] yashumitsu commented on #125
Hi, I had the same problem, please make sure you have defined variables before _wp-settings.php_ inclusion:

**wp-config.php**:
[code]

[2022-05-04 11:34] ValeSauer commented on #125
@yashumitsu Thanks! That actually solved it! I'll propose a change to the documentation.

[2022-05-04 11:37] #125 closed

[2022-05-04 11:37] stayallive commented on #125
There is no need to propose any changes, you missed this line in your `wp-config.php`:

[code]

You should _never_ do anything below that line as it suggests.

(you can see this in the [wp-config.php template file[(https://github.com/WordPress/wordpress-develop/blob/trunk/wp-config-sample.php#L88))

[2022-05-04 11:39] ValeSauer commented on #125
Oh right! Make certainly sense.

[2022-06-03 06:47] Locheed opened #131 "Sentry.javascript.browser@v7.0.0 is available"
Just noticed the update recommendation on the issue listing in the dashboard.

[2022-06-03 07:53] stayallive commented on #131
Yes. It was released 4 days ago, please allow for some time to update the plugin.

[2022-06-03 21:02] Locheed commented on #131
Yes of course. No hurry. Just added this here as a to-do ticket.

[2022-06-08 07:58] stayallive commented on #131
Went for 7.1.1 but it's now release: https://github.com/stayallive/wp-sentry/releases/tag/v5.0.0

[2022-06-08 07:58] #131 closed

[2022-06-16 00:32] robd003 opened #132 "Unable to get PHP tracing to work"
I've tried doing the callback method described in the README, but can't seem to get tracing to work.

[code]

[2022-06-16 09:16] stayallive commented on #132
Hey @robd003, take a look at this discussion: https://github.com/stayallive/wp-sentry/discussions/113.

It's not simply enabling that option, tracing is not implemented so you need to do a lot more work to get it to do anything.

If you are feeling adventurous you can hook it up yourself with comments from that discussion and the docs: https://docs.sentry.io/platforms/php/performance/instrumentati

[2022-06-16 09:16] #132 closed

[2022-06-29 16:59] andrewdcato opened #133 "Fatal error in WP 6.0"
Hello - I'm getting a fatal error on plugin activation when configuring this in my site.

### Installation Details:

- WordPress version: 6.0.0
- PHP version: 7.4.30
- Plugin version: 5.1.0

### Plugin Config:

Here's what I have for plugin config in my `wp-config.php` file (DSN has been redacted for obvious reasons):

[code]

And here is the what I am seeing in my WP Debug log:
[code]

[2022-06-29 19:10] stayallive commented on #133
Does your PHP installation have the cURL extension enabled? It sounds like that might be missing 🤔

[2022-06-29 19:37] andrewdcato commented on #133
That seems to have resolved the issue for the PHP error tracking! Thanks for the quick response, @stayallive.

I can open a PR for the `README` to document this dependency, if you'd like.

[2022-06-29 19:37] #133 closed

[2022-06-29 19:40] stayallive commented on #133
Honestly, I don't see how any application that talks with the outside world can function without that extension present and I have never seen an installation in the wild without it personally (unless I forgot to install it 😅).

However, it is a dependency, so I'd not be opposed to documenting it.

[2022-07-29 16:40] uhlhosting opened #135 "Issues with custom ABSPATH"
Hi,

Deployed the plugin and added this in the wp-config.php:

[code]

Yet my panel records this error:

[code]

[2022-07-29 18:14] stayallive commented on #135
Hi @uhlhosting, yeah that's unfortunate instructions and I'll see if that can be improved reliably 😄

You should either remove `ABSPATH` and make sure the path is correct or you need to place the `require_once` a [little lower](https://github.com/WordPress/WordPress/blob/37c514cc62182342f0eb7aecc38bbac075eb00f8/wp-config-sample.php#L94) but still before the last `require_once` of you `wp-config.ph

[2022-07-30 02:45] uhlhosting commented on #135
I managed to solve it, after adding it bellow ABSPATH was defined. Thanks.

[2022-08-06 12:13] kkmuffme opened #136 "Remove IE polyfill"
WP has dropped IE11 support with WP 5.8 a year ago. I think the polyfill in wp-sentry-browser .js can be removed too?

Perhaps not run sentry at all if `if (!String.prototype.startsWith) {` ?

[2022-08-06 17:26] stayallive commented on #136
From the looks of it I should actually include more polyfills considering the Sentry SDK still supports IE 10 & 11.

This plugin also works on older WordPress versions not just the newest (technically we support version 4.4 and up) so I don't see much reason to drop the very light polyfill we have at this moment.

I'm considering adding the documented polyfills required for the SDK to function pro

[2022-08-08 20:05] kkmuffme commented on #136
I think the doc you are referencing is outdated (as is the case incredibly often with Sentry unfortunately):

The v7 SDK is ES6 and does not support IE11 by default: https://github.com/getsentry/sentry-javascript/blob/7.0.0/MIGRATION.md#upgrading-from-6x-to-7x and https://github.com/getsentry/sentry-javascript/blob/7.0.0/MIGRATION.md#moving-to-es6-for-commonjs-files

[2022-08-09 06:39] ocean90 opened #137 "Avoid fatal error if `wp_sentry_options` filter is used but no DSN is set"
I'm using the filter to filter out some events before sending them to Sentry. For local development I have not set a DSN and in case of warning I'm getting the following fatal error:

[code]

https://github.com/stayallive/wp-sentry/blob/e697fe5b28ddc014c358e9c0738d95e597e274af/src/class-wp-sentry-php-tracker.php#L102-L106

Of course, I could just disable the plugin but I think it would be nice if

[2022-08-11 09:39] kkmuffme opened #138 "Errors in Sentry or setBeforeSendCallback silently dropped?"
I have both a custom `set_error_handler` and `set_exception_handler` which are loaded before WP (via auto_prepend_file) to catch all errors and handle them before Sentry is loaded by WP mu-plugin.

However it seems, that Sentry internally handles all errors (including fatals) from `setBeforeSendCallback` or the SDK itself and just dropping it silently. They never show up in my error handler.

This

[2022-08-11 13:10] stayallive commented on #138
It makes sense from a looping perspective where bubbling out errors from the SDK can result in an infinite loop, so although not ideal the Sentry SDK swallowing it's own errors makes sense.

We do capture the old exception handler (https://github.com/getsentry/sentry-php/blob/877bca3f0f0ac0fc8ec0a218c6070cccea266795/src/ErrorHandler.php#L207) and try to forward any to there (https://github.com/get

[2022-08-11 18:05] stayallive commented on #136
I know this 😉

https://github.com/stayallive/wp-sentry/blob/e697fe5b28ddc014c358e9c0738d95e597e274af/bin/update-js-files.php#L13

So the ES5 bundle is the one we bundle already, we should probably stop doing that and make ES5 including the polyfills optional for IE 10+ support. I'm assuming most don't care anymore these days.

[2022-08-11 18:19] #135 closed

[2022-08-11 18:19] #137 closed

[2022-08-11 18:20] stayallive commented on #137
Jep, that makes perfect sense, that was an oversight on my part, fixed in v5.2.0.

Thanks for reporting!

[2022-08-11 18:20] kkmuffme commented on #136
Since the official support for these versions is dropped by Microsoft itself, I think there is no reason to care about those anymore.

[2022-08-11 18:20] stayallive commented on #135
Updated the README so hopefully the next person will not have issues.

Thanks for reporting!

[2022-08-11 18:27] kkmuffme commented on #136
That's nice for Sentry, but this plugin is sentry for Wordpress :-) And Wordpress does not support those old versions. Why would I want to log errors from versions I know, are not compatible with my code/WordPress?

[2022-08-11 18:33] stayallive commented on #136
As I mentioned in my very first comment, we support WordPress version 4.4 and up.

Version 4.8 dropped support for IE 10 and 5.8 dropped support for IE 11.

So it's very much relevant to this plugin, since the lowest supported WordPress version (4.4) supports IE 10 & IE 11.

I don't see the issue though, I mentioned several times that in a future update I'll make the ES5 bundle (and thus IE 11 sup

[2022-08-11 18:45] kkmuffme commented on #138
My handler (from the auto_prepend_file) is called just fine (for all errors, including the ones Sentry handles, in which case I abort, since Sentry already got them).
However the Sentry native errors never show up in the custom handler.

But I guess where/why there is a potential loop problematic. Would be better if it wouldn't be caught immediately though, but just runs the normal course and Sent

[2022-08-11 18:45] #138 closed

[2022-08-15 07:39] #136 closed

[2022-08-15 07:55] stayallive commented on #136
Fixed in: https://github.com/stayallive/wp-sentry/releases/tag/v6.0.0

[2022-09-06 13:07] visnetje opened #140 "WP_SENTRY_VERSION not using theme version any longer"
Hi Alex,

As per the docs I am not defining `WP_SENTRY_VERSION` on my websites to make sure the theme version will be used:

It seems that at least the last 90 days the version is not reported any longer to Sentry events.
Other variables like browser, environment and the WordPress version are still working fine.

I have defined the following in the WordPress config file (with the DSN keys redacted

[2022-09-06 13:20] stayallive commented on #140
So this was removed by me on purpose, however I must admit I dropped the ball in a few ways on this.

First of all I did not document this change properly hence is why it's not mentioned in the changelogs for example.

Second... I don't exactly remember why I removed it in the first place and I did a bad job on documenting it!

This is the commit removing it: https://github.com/stayallive/wp-sentr

[2022-09-06 13:33] Visnetje commented on #140
Appreciate the clarification! :)

Looking forward to the snippet, because `wp_get_theme()` is not loaded yet in the WordPress config file, so the behavior of defaulting to the theme version performed by the WP Sentry plugin was actually pretty practical.

[2022-09-14 10:46] piscis commented on #140
Same here. We mimic the old behavior by implementing a filter that sets the release version based on the theme version or a constant.

[code]

[2022-09-14 14:04] Visnetje commented on #140
Hi @piscis , that solution works for getting PHP events to use the theme version, but unfortunately it doesn't work for JavaScript events, nor is the version detected properly in the WP Sentry admin page (under Tools).

[2022-09-15 18:05] piscis commented on #140
@Visnetje you are right, but looking at: https://github.com/stayallive/wp-sentry/blob/b687648880c30b905d87c718c5e0c63e6bee8c89/src/class-wp-sentry-js-tracker.php#L80-L82

it should also be possible to implement a similar filter for the JS part.

[2022-10-12 07:47] pinkasey opened #141 "Capture `console.error()`"
wp-sentry can register [CaptureConsole](https://docs.sentry.io/platforms/javascript/configuration/integrations/plugin/#captureconsole) to also report `console.error()`.

This can be an optional feature, so that existing users of wp-sentry aren't surprised by new errors
(although, I was surprised by the opposite - I thought Sentry tracks `console.error()` by default)

[2022-10-12 08:25] stayallive commented on #141
Considering this requires another JS file to be loaded I'm not sure I'm willing to add this at this point since that would complicate our bundling and add yet another variant.

If you load the extra required JavaScript yourself you can already add the `CaptureConsole` integration if needed: https://github.com/stayallive/wp-sentry/tree/3df2aa2bd10a5b2fffbfa7fac282bad0f3c3266c#client-side-hook.

Wou

[2022-10-12 08:53] pinkasey commented on #141
Yes, I think that would work.
Thanks.

Maybe it's worth documenting this in the README.md.
I might open a PR for this if/when I do it myself.

[2022-10-12 08:54] stayallive commented on #141
Sounds good 👍

I'll close this issue for now!

[2022-10-12 08:54] #141 closed

[2022-11-02 10:48] delellisgabriel opened #142 "Plugin can't handle Sentry being unreachable"
Hi Alex, my team has been using your plugin in our WP and everything was fine until Sentry went down. This happened to us 6 months ago on Version 4.15.0 and we had to disable the plugin because it unfortunately couldn't handle sentry being unreachable.

I was checking your releases to see if this has been fixed but I don't see it being mentioned in any of the releases. Could you provide me with in

[2022-11-02 10:56] stayallive commented on #142
This was addressed in the base PHP SDK in May: https://github.com/getsentry/sentry-php/releases/tag/3.5.0

We reduced the timeouts and retries, it will still have impact but nothing like what happended ~6 months ago.

Hope that answers the question!

[2022-11-02 14:01] delellisgabriel commented on #142
yes this answers my question. @stayallive Thank you!

[2022-11-02 14:01] #142 closed